[2017-12-05 15:23] MylesBorins commented on #432
I've added #411 to the agenda "V8 gyp scaffolding responsibility handoff"

Have a quick update on this

[2017-12-05 19:44] mhdawson commented on #432
@Trott thanks for your comment. I'm happy to have people to add to agenda as outlined (actually **very** happy)

[2017-12-05 19:53] mhdawson commented on #432
Updated links for "in your local time" seems like they have been being generated incorrectly since we started rotating times.

[2017-12-05 20:41] mhdawson commented on #423
@Trott should I open a PR to remove collab onboarding  and Moderation ?

[2017-12-05 23:09] Trott commented on #423
@mhdawson Moderation can probably stay until the team is fully spun up. We need to figure out how to give that team the necessary privileges across the various repositories. Onboarding of collaborators can definitely be removed, in my opinion. I'll open a pull request.

[2017-12-06 02:43] dshaw commented on #383
@MylesBorins Would you like to try to kick this offer before the end of the year?

[2017-12-06 20:40] targos commented on #432
My apologies, I will have to miss this one. I'm not feeling good and it's late.

[2017-12-06 21:55] evanlucas commented on #432
Apologies, I won't be able to make it today. I'll look through the marked issues this afternoon though.

[2017-12-06 23:01] Trott commented on #431
Putting it back on the TSC agenda because we ran out of time while talking about it. Won't be able to pick it up again until a January meeting though, because James won't be at any of the remaining December meetings. Good conversation so far, though.

[2017-12-06 23:08] refack commented on #411
To reiterate, we already have knowledge and time investment in maintaining GYP (the tool), so taking ownership of the tool and the `.gyp` files is not too far fetched.

[2017-12-06 23:22] rvagg commented on #432
<img width="517" alt="screenshot 2017-12-06 15 20 24" src="https://user-images.githubusercontent.com/495647/33690583-05af55e8-da99-11e7-9a0f-4e2fa67da315.png">

FYI I've found a setting in Uberconference to not record calls automatically so I've flipped that. Since nobody else has access to recordings and I haven't even looked at them since back when we published them to Soundcloud (!) I'm guessin

[2017-12-06 23:25] Trott commented on #432
@nodejs/tsc Please find the spot in the Google Doc to add your strategic initiatives update, and add an update there for any strategic initiatives for which you are the champion. Thanks!

[2017-12-07 14:22] mhdawson commented on #432
@nodejs/tsc to add on to @Trott comment.  This is an ongoing ask. We'd like an update to be added each week before the meeting, even if you can't make the meeting itself.

[2017-12-07 14:38] mhdawson commented on #432
PR for minutes: https://github.com/nodejs/TSC/pull/434

[2017-12-07 14:38] #432 closed

[2017-12-07 14:53] mhdawson commented on #351
There was a recent request that we don't have standing observers, but instead invite on a per meeting basis.

@jasnell what's your view on how that fits with that approach.

@nodejs/tsc can we get more input on this case.

I'd be ok with inviting them as regular observers, but given the pushback on regular observers I think we need more discussion.

[2017-12-07 15:00] jasnell commented on #351
My preference would be to invite @fhemberger and @chorrell in as TSC members.

[2017-12-11 14:05] mhdawson opened #435 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2017-12-13"
## Time

**UTC Wed 13-Dec-2017 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 13-Dec-2017 04:00 (04:00 AM) |
| US / Mountain | Wed 13-Dec-2017 05:00 (05:00 AM) |
| US / Central  | Wed 13-Dec-2017 06:00 (06:00 AM) |
| US / Eastern  | Wed 13-Dec-2017 07:00 (07:00 AM) |
| London        | Wed 13-Dec-2017 12:00 (12:00 PM) |

[2017-12-11 16:42] MylesBorins commented on #178
I've added TSC-Agenda to this. I think that we should discuss if this is something we still need to workshop or if this should be closed

[2017-12-11 16:43] MylesBorins commented on #268
Ping on this regarding mailing lists

[2017-12-11 16:44] MylesBorins commented on #311
Adding TSC-agenda label so we can discuss this a bit more. Not sure if we have sufficiently accomplished this and we should discuss next steps.

[2017-12-11 16:45] MylesBorins commented on #337
Interactive has come and passed... is this something we still need to dig into more?

[2017-12-11 16:46] MylesBorins commented on #340
Hey all, is there an update on this? should we consider a strategic initiative around it?

[2017-12-11 16:47] MylesBorins commented on #353
Ping @nodejs/tsc

[2017-12-11 16:48] MylesBorins commented on #369
Closing as I think we have adequately discussed this

Please feel free to reopen

[2017-12-11 16:48] #369 closed

[2017-12-11 16:48] MylesBorins commented on #382
@jasnell is this still being worked on?

[2017-12-11 16:49] MylesBorins commented on #383
@dshaw in a previous TSC meeting it was decided that we didn't need to move forward with this in the immediate future. I think it makes sense to kick off an initial meeting in the new year when people are back from various vacations. Perhaps we can start a call for a date now?

[2017-12-11 16:50] MylesBorins commented on #410
What are the next steps here?

[2017-12-11 16:52] MylesBorins commented on #435
I've added two issues to the agenda

* Document guidelines for accountability expectations for all members of the TSC and CommComm [#311](https://github.com/nodejs/TSC/issues/311)
* unclear membership related terms and processes [#178](https://github.com/nodejs/TSC/issues/178)

These have been idling for a bit and I think it would be good to discuss if we should close or not.

[2017-12-11 16:57] AndreasMadsen commented on #340
@JiaLiPassion We now have an API for catching error the way domain does it.

docs: https://github.com/nodejs/node/blob/master/doc/api/process.md#processsetuncaughtexceptioncapturecallbackfn

domain: https://github.com/nodejs/node/blob/master/lib/domain.js#L103

[2017-12-11 17:02] JiaLiPassion commented on #340
@AndreasMadsen , Thank you for the update, I will look into it. And I will also check the `never resolved promise` issue.

[2017-12-11 17:44] Trott commented on #435
I removed one issue from the agenda because it was agreed at the last meeting that we'd pick it up again when James returns in January:

* Enterprise Advisory Group [#431](https://github.com/nodejs/TSC/issues/431)

[2017-12-11 18:18] mhdawson commented on #435
I'm not going to be able to make it due to the time, so @fhinkel will be chairing

[2017-12-11 18:20] mhdawson commented on #311
For easy access, this is what has landed so far: https://github.com/nodejs/admin/pull/12

[2017-12-11 19:05] bnb commented on #431
I'd like to request to observe in the meeting in which this is discussed. Is that a possibility?

[2017-12-11 19:14] jasnell commented on #382
I am not working on it, no. I do not intend to work on it further, either. Others may want to pick up the thread tho

[2017-12-11 19:46] mlosh opened #436 "Proposal for making two-factor authentication optional"
Howdy,

@Trott  posted in Website WG that all the members should have two-factor auth enabled, and that soon enough they'd be removed.

Personally, I don't agree with this TSC decision, and I propose that it should be optional. Two-auth, as it is now, is difficult to be added, I requested a code to my device yesterday at 11pm, received it today at 7pm. Also when using CLI, members would need to us

[2017-12-11 20:02] mhdawson commented on #337
A simple standard might be that for team/wgs somebody is designated to ask members if they are active (say every 3 months).   If somebody says 'yes' then they are still in.

This would not be optimal but I think would help trim the team/WG members to those who are active.  I also think having this set at the TSC level would help as it would make it a regular process across the org s people would k

[2017-12-11 20:04] mhdawson commented on #268
I think this may be the mailing list that was mentioned: https://groups.google.com/forum/#!forum/nodejs

[2017-12-11 20:06] mhdawson commented on #268
There have been 15-20 threads in each of Oct/Dec.

I assume we'd want to redirect those users to the help repo ?

[2017-12-11 20:07] mhdawson commented on #268
@nodejs/TSC any objections to shutting down the mailing list ?

[2017-12-11 20:09] mhdawson commented on #268
@rvagg do you have access to manage that mailing list. I'm guessing you might since you were able to give me those rights for nodejs-sec which is also a google mailing list.

[2017-12-11 20:18] fhinkel commented on #431
@bnb I think that makes sense! AFAIK we'll talk about that in January when @jasnell is back.

[2017-12-11 20:20] MylesBorins commented on #436
@mlosh why would people need a gpg key to use two factor?

There was discussion around getting collaborators Yubikeys to help with this

[2017-12-11 20:24] AndreasMadsen commented on #340
@JiaLiPassion we now have the `promiseResolve` event. so that issue should be possible to solve now too :)

[2017-12-11 21:01] ljharb commented on #436
2-factor auth doesn't apply to using SSH keys to access github.

[2017-12-11 21:10] fhinkel commented on #436
Sorry that the first login was such a hassle with 2FA.

Usually, you need the extra authentication only when you log on from an unknown device, not every time. You can use the [recovery codes](https://help.github.com/articles/downloading-your-two-factor-authentication-recovery-codes/) for future logins from new devices. Would that be an OK workflow for you?

[2017-12-11 21:47] Trott commented on #353
https://github.com/nodejs/nodejs.org/pull/1513
https://github.com/nodejs/TSC/pull/437

[2017-12-11 21:53] Trott commented on #353
Going through remaining open issues in https://github.com/nodejs/Intl/issues right now. Planning on archiving the repo (basically making it read-only) sooner or later.

[2017-12-11 21:54] mhdawson commented on #431
Agreed, we'll make sure to invite you as an observer.

[2017-12-11 21:55] maclover7 opened #438 "Updating CTC references"
A bunch of [Dependent projects](https://github.com/nodejs/TSC#dependent-projects) [Adjacent projects](https://github.com/nodejs/TSC#adjacent-projects) in the readme repeat the phrase "administration delegated to the Core Technical Committee". Since the CTC has been merged back into the TSC, what should this be updated to? Maybe just "managed by TSC" or something to that effect?

[2017-12-11 21:55] mhdawson commented on #353
@srl295 earlier discussion was that the repo did not necessarily need to close if the WG became a team.  Is the repo still useful for the team ?

[2017-12-11 21:56] mhdawson commented on #438
I would just replace "Core Technical Committee" with "Technical Steering Committee"

[2017-12-11 21:59] Trott commented on #353
@mhdawson @srl295 OK, I won't archive the repo for now and I'll stop my march through all the issues to close them that I started a few minutes ago. It does seem that the Intl repo is a bit of a graveyard though. I think the issues in that repo would probably get more activity/visibility elsewhere.

[2017-12-11 22:02] mhdawson commented on #436
For command line access you can create a personal access token

https://github.com/settings/tokens

It ends up being like a very long/hard to remember password, but otherwise the workflow is the same when using the git command line client

[2017-12-11 22:04] MylesBorins commented on #436
If you are on OSX you can use this line to store the login credentials

https://github.com/MylesBorins/dot-files/blob/master/.gitconfig#L31

Also if you use ssh there is no need to auth.

[2017-12-11 22:38] Trott commented on #337
Before trying to do this with other teams, the TSC should dog-food this process for a year.

[2017-12-11 22:48] Trott commented on #438
Then the text would be "administration delegated to the Technical Steering Committee" which is kinda confusing because it says the TSC delegated to itself.

I propose removing the text entirely, along with text delegating other things to defunct groups. See https://github.com/nodejs/TSC/pull/439

[2017-12-12 10:11] gibfahn commented on #337
FWIW we already do this in the Build WG, just not on a scheduled basis.

[2017-12-12 15:59] ZibbyKeaton opened #440 "Want to be featured in How I Got Into Node?"
The Node.js Foundation is doing a spotlight series around the contributors of Node.js; the series is titled How I Got Into #Node. You can find posts in this series on the [Node.js Foundation Medium page](https://medium.com/@nodejs) and the [Node.js Collection publication](https://medium.com/the-node-js-collection).

It asks basic questions around how you got into programming, how you got into Node

[2017-12-12 19:10] bmeck commented on #371
Done. https://www.iana.org/assignments/media-types/application/node

[2017-12-12 19:10] #371 closed

[2017-12-13 10:11] MylesBorins commented on #435
I am not going to be able to make it this time

[2017-12-13 10:38] mcollina commented on #419
+1

[2017-12-13 10:41] mcollina commented on #435
I am unavailable between 12:15-12:40 UTC (I'm doing an Intro to Node talk @ CodeEurope in Poland). I can join if we need quorum for some issues, just ping me on IRC or twitter.

[2017-12-13 10:47] evanlucas commented on #435
This conflicts with me taking the kids to school so I won’t be able to make it. Sorry for the late notice.

[2017-12-13 12:25] trevnorris commented on #419
+1

[2017-12-13 12:32] ChALkeR commented on #419
+1

[2017-12-13 15:16] Trott commented on #435
Minutes PR: https://github.com/nodejs/TSC/pull/441

[2017-12-13 15:16] #435 closed

[2017-12-13 15:17] Trott commented on #419
Between votes here and in email, this passes with no opposition. Congratulations and welcome, @danbev!

[2017-12-13 15:30] danbev commented on #419
I'm really excited about joining and looking forward to working with all of you. Thanks everyone!

[2017-12-13 16:02] thefourtheye commented on #435
Sorry, couldn't attend. Got pulled into an ad-hoc meeting.

[2017-12-13 16:57] fhinkel commented on #178
Closing this because a lot has changed since this was opened. Feel free to reopen if needed, or, maybe better, open a separate issue for specific re-wording if needed.

[2017-12-13 16:57] #178 closed

[2017-12-13 17:11] Trott commented on #419
PRs opened to add him to the TSC list in the main README and add him to the mailing list. Also added him to the TSC GitHub team.

[2017-12-13 17:11] #419 closed

[2017-12-13 18:05] jdalton opened #442 "More clear indicator of key stakeholders and gatekeepers of features."
While [this document](https://github.com/nodejs/TSC/blob/master/Strategic-Initiatives.md) exists, I've seen some confusion over which individuals or groups have the power to make calls on Node features *(e.g. ES module support)*.

So when those active in Node discussions/proposals say they'll object to something, observers may not know why, or if, that objection matters. From the outside, the obse

[2017-12-13 20:53] DiegoZoracKy commented on #440
Hi @ZibbyKeaton, I've got an idea about this. If what I proposed here ([Node.js People Everywhere (npe) - nodejs/community-committee/issues/184](https://github.com/nodejs/community-committee/issues/184)) can end up moving forward, maybe there could be a section to be answered named "How I Got Into Node?" with the questions you've listed. That could be answered by anyone (developers or companies) j

[2017-12-13 21:01] mhdawson commented on #442
I'd like to discuss to better understand what the documentation might look like.  Generally the TSC has the final decision if there are objections/lack of consensus within the body of collaborators.  The TSC does rely on advice/recommendations from those involved in the discussions and I'm guessing you might be asking for more information on who those people might be.
@jdalton would you have time

[2017-12-13 21:35] jdalton commented on #442
Yes, you can [DM](https://twitter.com/jdalton) me the specifics.

[2017-12-13 21:47] mlosh commented on #436
Alright, as I am the only one who has problem with this, I'll close this issue

[2017-12-13 21:47] #436 closed

[2017-12-13 22:20] fhinkel commented on #436
@mlosh I'm sure you're not the only one. Were you able to log on with 2FA enabled?

[2017-12-13 23:23] mlosh commented on #436
I can't even set it up, as I said, I tried mobile verification, requested code and it came like after 12h

[2017-12-14 00:37] Trott commented on #442
Asking people to make their membership public seems like a pretty good idea. I'm not sure about the specifics of how that works or if I'm able to see everyone's membership simply because I'm an org owner or something like that.  The information should be added to [the onboarding doc](https://github.com/nodejs/node/blob/9f61c7038557de30d1d3618aa94d356c6a64b6cc/doc/onboarding.md), in case anyone inf

[2017-12-14 00:52] MylesBorins commented on #436
Let me know if you want to pair on this. It seems like there might be a
better way to set this up and if we find the places you are having issues
we can document it to help others later

On Dec 13, 2017 6:23 PM, "Milos Jevtovic" <notifications@github.com> wrote:

[2017-12-14 05:32] JiaLiPassion commented on #340
@AndreasMadsen , got it, I will check it, thank you!!!

is the new `promiseResolve` can handle this case?

[code]

I will test it.

[2017-12-14 07:53] AndreasMadsen commented on #340
@JiaLiPassion I'm not sure it can. I think it just emits the first `resolve` value. It would be smart if we could know the "resolved" value.

[2017-12-14 08:13] JiaLiPassion commented on #340
@AndreasMadsen , got it, I will test it.

[2017-12-14 15:02] mhdawson commented on #442
@Trott I'll look at a PR to update the onboarding doc after my discussion with @jdalton

[2017-12-14 17:27] mhdawson opened #443 "Mentorship initiative ramping up."
FYI to make sure on radar for TSC.

Progress on write has been made. See https://github.com/Bamieh/node-ment and was reviewed in last Community committee.

Issue will be opened in admin repo to move it over to Node.js foundation.

[2017-12-14 20:25] mhdawson commented on #442
PR to request making membership public.  Must default to private and it was set to private for me: https://github.com/nodejs/node/pull/17688

[2017-12-14 20:39] mhdawson commented on #442
Had a good discussion with @jdalton today.  I'd capture the discussion as follows:

* there is a need for more information about participants in the Node.js community so that it is possible to better understand:
  * Whether an individual is a collaborator or not.  As all collaborators have object knowing this is important.
    The list is already here https://github.com/nodejs/node#collaborators.

[2017-12-15 07:58] mcollina commented on #442
I think the starting point would be to document the decision making process, and then add the relevant information on demand.

The rest is good data to have also for us: we can track if there are areas with lower partecipation.

[2017-12-15 14:26] Trott commented on #442
I think @jdalton's primary concern is decision making around pull requests. (And if I'm wrong, he can correct me! :-D )

In that case, [the process itself is pretty clearly documented](https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborators) IMO but it's not particularly discoverable. (Who looks in a GOVERNANCE.md doc?) I'd welcome a PR that:

* Adds a header to the change review an

[2017-12-15 14:54] Trott commented on #284
Adding `tsc-agenda` label (although I hope we can get resolution before the meeting) to get an answer to this question:

**Based on @mikeal's comment, we should remove people from the members team if they are not in any other team. Is it OK if I do that?**

Additional points in favor:

* Re-adding someone removed erroneously is straightforward, so it seems like a low-risk move.
* Removing people w

[2017-12-15 14:58] bnb commented on #284
@Trott I'd appreciate it if you could add cc-agenda as well 🙏

[2017-12-15 15:30] Trott opened #444 "Proposed New TSC Meeting Schedule"
Current meeting times in UTC are 12:00, 17:00, and 22:00.

End of the year seems like a good time to review the meeting times. (I think a six-month cadence on that is probably about right.)

If nobody on @nodejs/tsc has any changes to make to the availability spreadsheet then the fairness algorithm I use to suggest times is recommending UTC 00:00 (midnight), 13:00, and 20:00.

|UTC|Berlin|Moscow|C

[2017-12-15 15:37] mcollina commented on #442
@Trott I do not think [this](https://github.com/nodejs/node/blob/master/GOVERNANCE.md#collaborators) is relevant to what is being discussed here. That is an internal explanation, not an external one.

The question we should ask is: "I want to change something in Node.js, what is the process that I need to follow to have my change landed".
Something along the lines of:

1. if you are _not_ comforta

[2017-12-15 15:42] Trott commented on #442
@mcollina So perhaps a "first time contributor's guide" that is a lot more focused (and honestly, hopefully a lot more concise) than the current CONTRIBUTING.md? I like that idea. Especially if it means a lot of stuff from CONTRIBUTING.md can be replaced with links.

[2017-12-15 15:56] mcollina commented on #442
It can even be in the CONTRIBUTING.md, but as the first thing.

[2017-12-15 23:04] Trott commented on #444
Some folks have updated their availability. This could be a wild ride. Here's the new fair times proposal:

|UTC|Berlin|Moscow|Chennai|Beijing|Sydney|San Francisco|New York|
|----|------|--------|---------|-------|------|---|-----|
| 1:00&nbsp;PM | 2:00&nbsp;PM|4:00 PM|6:30 PM|9:00 PM|midnight|5:00&nbsp;AM|8:00&nbsp;AM|
| 3:00&nbsp;PM | 4:00&nbsp;PM|6:00 PM|8:30 PM|11:00&nbsp;PM|2:00 AM|7:00&nbsp;

[2017-12-15 23:07] Trott commented on #444
Wait, I'm wrong! We're back to the original times. I'm going to delete this comment and the one above.

[2017-12-18 09:46] rvagg commented on #268
not I, iirc @bnoordhuis has some access on that one

[2017-12-18 09:56] ChALkeR commented on #444
Looks good to me.

What is the exact proposed schedule, i.e. starting with which date should it become effective _(assuming next+1 meeting?)_ and at what time should the first meeting using this new schedule happen?

[2017-12-18 10:16] bnoordhuis commented on #268
I don't.  I believe that's @othiym23.

[2017-12-18 11:16] joyeecheung commented on #444
LGTM

[2017-12-18 11:23] joyeecheung commented on #436
@mlosh Are you using SMS messages to authenticate? You can try [using a TOTP app](https://help.github.com/articles/configuring-two-factor-authentication-via-a-totp-mobile-app/) instead. Github can't even send messages to me so I use the Google Authenticator to set up the 2FA.

[2017-12-18 14:05] mhdawson opened #447 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2017-12-20"
## Time

**UTC Wed 20-Dec-2017 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 20-Dec-2017 09:00 (09:00 AM) |
| US / Mountain | Wed 20-Dec-2017 10:00 (10:00 AM) |
| US / Central  | Wed 20-Dec-2017 11:00 (11:00 AM) |
| US / Eastern  | Wed 20-Dec-2017 12:00 (12:00 PM) |
| London        | Wed 20-Dec-2017 17:00 (05:00 PM) |

[2017-12-18 16:19] fhinkel commented on #447
If we have #431 on the agenda, can we please invite @bnb

[2017-12-18 18:33] dshaw commented on #431
If we are going to discuss this, I would like to request to be added as an Observer for this meeting since we want to discuss process. Let's bring in the offending party (me).

[2017-12-18 18:34] jasnell commented on #431
+1 to adding @dshaw as an observer to the TSC call.

[2017-12-18 18:55] Trott commented on #431
At an earlier meeting, we agreed to table this until January when @jasnell is back. It's going to be auto-added to the agenda this week and again next week, but it won't be until the week after that we actually talk about it.

So, @dshaw, make a note in your calendar for January 3, although that meeting is currently for an inconvenient time for @jasnell, so maybe also make a provisional note in yo

[2017-12-18 18:58] Trott commented on #447
@fhinkel We agreed at the last meeting @jasnell attended that we would keep that labeled `tsc-agenda` but not pick it up until @jasnell is back from vacation, so that would be either January 3 or January 10. (Pretty sure he's back on January 3 but that meeting is currently slated for a time slot that is inconvenient for @jasnell. On the other hand, we do have a proposal for changing the meeting ti

[2017-12-18 19:07] dshaw commented on #431
@Trott Thanks for the heads-up.

In the interim, I'll work with @bnb and the CommComm to resolve issues there.

[2017-12-18 19:13] Trott commented on #447
Observers to invite: @gibfahn and @BridgeAR for https://github.com/nodejs/node/pull/14795

At the meeting, I will probably propose that we table https://github.com/nodejs/TSC/issues/443 because @mhdawson is on vacation this week and next.

@MylesBorins Do we need to keep https://github.com/nodejs/TSC/issues/311 on the agenda? (Not advocating, just asking.)

[2017-12-18 20:20] Trott opened #448 "Proposal to delete https://github.com/nodejs/node/wiki/Node-Hosting"
I think https://github.com/nodejs/node/wiki/Node-Hosting should be removed. It's absurdly outdated, will never be up-to-date, is content that is likely to have biases, and is more appropriate for other venues. Any objections?

@nodejs/tsc @nodejs/community-committee

[2017-12-18 20:21] ryanmurakami commented on #448
I agree. I can see value in that type of information, but not in the Node.js wiki. Seems more fitting to live in an awesome list.

[2017-12-18 20:22] bnb commented on #448
No objection as a part of the Moderation Team and the Community Committee. This topic may be a good subject for a post on the Node.js Collection, though, in addition to an awesome list as @ryanmurakami suggested 👍

Happy to review/edit a submission to the Node.js Collection if someone wants to take on that initiative (at present or in the future - standing offer).

[2017-12-18 21:41] mhdawson commented on #444
LGTM

[2017-12-18 23:23] Trott commented on #195
Just want to make sure this doesn't get lost: It would be awesome if we don't need to keep a date in there at all. Just a copyright notice with no year. Lots of reputable sites do this. But I-Am-Not-A-Lawyer.

[2017-12-18 23:29] Trott commented on #292
Should this still have a `board` label? I don't think it was on the board meeting agenda this time around. (Not sure if `board` label means `on the agenda` necessarily, but either way, don't want stuff to get lost.)

[2017-12-19 00:07] MylesBorins commented on #292
@Trott we can drive this from already existing budget we just need to figure out how it fits into the yearly budget

[2017-12-19 05:34] rvagg commented on #444
Works really nicely for me but perhaps that's not a good thing because there's only one of us down my way and in this schedule Europe, Russia and Asia get worse time slots than I do. The 5am Pacific (1pm UTC) is a concern too, lots of black, red and orange in that column and I have I reckon that reds and oranges are more likely to be black in practice when a 5am meeting rolls around (speaking from

[2017-12-19 05:37] rvagg commented on #311
Can someone post a summary here of where we're at and a proposal of what they think the next steps should be? Seems like something that could lead to open-ended discussion in a meeting unless someone is prepared enough to present something; plus perhaps we could do a lot of it here anyway?

[2017-12-19 05:39] jasnell commented on #444
I'd prefer to keep the current times as they are.

[2017-12-19 05:40] rvagg commented on #447
`tsc-review` items (FYI this can be easily generated by https://github.com/nodejs/node-meeting-agenda, with `node-meeting-agenda tsc-review`):

### nodejs/build

* doc: note that release config is removed after 6m [#997](https://github.com/nodejs/build/pull/997)

### nodejs/node

* util: improve error message of _errnoException [#17626](https://github.com/nodejs/node/pull/17626)
* child_process: i

[2017-12-19 08:06] othiym23 commented on #268
I was handed moderation of the mailing list several years ago (~early 2014, IIRC) by TJ Fontaine in his role as project lead for Joyent, and since then it's been run by me, with @aredridel helping out from time to time. It's mostly quiescent and, I feel, does little harm; every message to the group is approved by either Aria or me, and I'm pretty strict about not approving content that runs contra

[2017-12-19 11:51] fhinkel commented on #444
I think everybody except the East coast, has at least one time slot that's in the middle of the night. Chennai has only one slot that I'd consider not in the middle of the night. Is that OK?

[2017-12-19 12:30] mcollina commented on #444
I had a chat with @Trott about this. Unfortunately, we are truly global group and this means __it is fine if we join only 1 every 3 meetings__, with some incovenience to join 2 over 3.
The current criteria are exactly how @fhinkel  frames them in https://github.com/nodejs/TSC/issues/444#issuecomment-352727932: one meeting in working hours.

This means it is fine if we are __never__ all in the same

[2017-12-19 17:16] Trott commented on #447
Looks like @danbev hasn't been added to the invite list yet, so @-mentioning them here for notification purposes.

[2017-12-19 17:17] Trott commented on #447
(Also, just added @danbev manually to the original post here and the minutes doc.)

[2017-12-19 17:22] danbev commented on #447
Thanks, I actually thought that this was because I marked that time in the spreadsheet as a bad time for me. l might not make it I'm afraid (still trying to see if I might get a sitter and will know for sure tomorrow).

[2017-12-19 17:26] #448 closed

[2017-12-19 17:53] Trott commented on #444
Er...I think you mean it is fine if we **miss** 1 out of every 3 meetings.... At least, that's been what I've been using as a rule of thumb....

[2017-12-19 18:14] Trott commented on #444
Re-running with updated data changes the results significantly. UTC times proposed are now, 12:00, 20:00, and 22:00.

This is the same as our current times except that the current 17:00 UTC meeting is shifted three hours later to 20:00 UTC.

I do like that it's a minor tweak to our current schedule rather than a completely different schedule.

[2017-12-20 07:56] danbev commented on #447
Sorry, I won't be able to make it today.

[2017-12-20 08:49] addaleax commented on #447
I won’t be able to make it either

[2017-12-20 11:43] rvagg commented on #447
4am for me, opting out

[2017-12-20 13:53] evanlucas commented on #447
Eating lunch with my little girl for her birthday, so I won't be able to make it today. I should be back next week though.

[2017-12-20 14:52] BridgeAR commented on #447
Thanks for inviting me but I probably can not make it as I am going to be at the airport at that time. I guess @gibfahn is the best person to talk to in this case anyway.

[2017-12-20 16:12] Fishrock123 commented on #447
I'll be able to make and stream it

[2017-12-20 16:41] dshaw commented on #447
Thanks, @rvagg. I need to start using https://github.com/nodejs/node-meeting-agenda, with `node-meeting-agenda neuf-agenda` for @nodejs/user-feedback.

[2017-12-20 17:24] ChALkeR commented on #444
LGTM as long as that's the optimal result.

I also think that the algorithm itself that selects the optimal dates (i.e. the code) should live inside this (or some other nodejs/*) repo, so that it could potentially be updated using the regular process. That should not block this issue — that's a separate one ;-).

[2017-12-20 22:05] jasnell commented on #444
Since I see you thumbs'd down my comment @Trott, let me clarify... the proposed new schedule would work for me, but I have a personal preference on keeping the current one as the times are actually far more convenient for me. I certainly don't want to block changing the schedule tho if it makes it more convenient for others.

(and just as a side note, using the thumb's down when someone expresses

[2017-12-20 22:22] Trott commented on #444
@jasnell That's fair. Sorry about that. In the future, I'll respond instead with comments along the lines of "This comment needs more information to be useful/actionable. Can you elaborate?".

I had been thinking that I was OK with using thumbs-down when "established" folks leave these sorts of "+1" or "-1" comments. Clearly, that was a miscalculation. In retrospect, I failed to consider that I my

[2017-12-21 00:58] Trott commented on #444
Because the proposal has changed, I'm going to close this and open a new issue.

[2017-12-21 00:58] #444 closed

[2017-12-21 01:10] Trott opened #449 "Proposed New TSC Schedule (Take 2)"
Based on current data in the availability spreadsheet (up to and including Jeremiah's changes that were made about 9 hours ago), the proposal (based on the whole fairness algorithm thing that I'll be PR'ing into this repo soon) is:

Keep the schedule as it now stands with the exception of moving the 17:00 UTC meeting to 20:00 UTC.

This was discussed at today's TSC meeting. There were 11 TSC atten

[2017-12-21 01:14] Trott commented on #449
| Vote | Who |
|---|---|
| Yes&nbsp;(8) | @ChALkeR @fhinkel @Fishrock123 @MylesBorins @ofrobots @targos @trevnorris @Trott |
| No&nbsp;(0) | |
| Abstain&nbsp;(3) | @cjihrig @mcollina @thefourtheye  |
| Not Yet Voted (10) | @addaleax @danbev @evanlucas @indutny @jasnell @joshgav @joyeecheung @mhdawson @mscdex @rvagg |

[2017-12-21 01:15] Trott commented on #449
(Technically, this doesn't need a vote, just consensus, so even if no one says anything at all, this can land after a reasonable amount of time. Still, it would be nice to have an iron-clad case, so please vote. :-D )

[2017-12-21 01:17] Trott commented on #449
(I guess I'll also say that the vote isn't for "Oh, yes, this time works for me, sounds great", but rather "Yes, I understand that this makes things more fair, so it has my vote.")

[2017-12-21 01:33] jasnell commented on #449
No objections to this new schedule

[2017-12-21 02:59] MylesBorins commented on #449
I would personally like to see confirmation from individuals that the 12:00
utc meeting is meant to serve that it is indeed the best time

Either way no blocking this from moving forward

On Dec 20, 2017 8:33 PM, "James M Snell" <notifications@github.com> wrote:

[2017-12-21 03:51] Trott commented on #311
Ping @MylesBorins!

Based on TSC conversation today, I think the main concrete thing right now is figuring out what (if anything) more needs to be done to detail moderation policy as it applies to TSC/CommComm folks. I'd guess that there won't be any desire for rules to be different for TSC/CommComm folks than it is for Collaborators. But I could be very wrong. Also, I could be slightly or greatly

[2017-12-21 03:54] Trott commented on #311
(By the way, I've basically posted this question to the Moderation Team Slack and will report back when there is consensus around a response.)

[2017-12-21 03:59] Trott commented on #284
@nodejs/community-committee There was TSC consensus to move forward with removing folks who are members of the nodejs/members team and no other teams. Can I go ahead with this, or would you prefer to wait until after the January 4 CommComm meeting?

[2017-12-21 04:23] Trott commented on #447
Minutes: https://github.com/nodejs/TSC/pull/451

[2017-12-21 04:23] #447 closed

[2017-12-21 05:17] danbev commented on #449
No objections from me

[2017-12-21 06:23] joyeecheung commented on #447
Had a fever last night and was not able to make it, sorry.

[2017-12-21 07:23] fhinkel commented on #449
I realized that lots of our meetings go for 90 minutes (including the initial 10 minutes waiting), but the spreadsheet has 1-hour slots. Did everybody consider their availability of the next hour when filling out the form? I updated my times accordingly. Also, there's one person who sleeps 1 hour per day, is that correct? 😎

I want to second what Myles said: We have low turnout at the 12 utc (1 pm

[2017-12-21 07:51] mcollina commented on #449
I did some reasoning on my rough 6 months of membership. At that midday meeting I was sparingly able to join, even if it should have been my core timezone. My _preferred_ time slots for TSC meetings is at 17:00 and 18:00 UTC. I updated my availability another time (sorry @Trott).

[2017-12-21 12:01] pup commented on #284
fine by me, but if someone else want to wait until after the meeting, then let's do that

[2017-12-21 15:13] Trott commented on #449
And...we're back to the three time slots we currently have. :-D

Unless things change, I'll withdraw the proposal, but I do have some more things to say in another comment...

[2017-12-21 15:21] Trott commented on #449
@fhinkel Right now, there's a provision in the code that it won't pick any times unless more than half the TSC has rated that time 2 or higher. This is designed to omit truly terrible times. (This is because a "fair" schedule could be three time slots where no one can attend at all. Fair! But also useless.) If we think 12:00 UTC isn't working out, people updating the spreadsheet is one possibility

[2017-12-21 15:26] Trott commented on #449
@nodejs/tsc Periodic reminder: If you've been relatively inactive on the TSC, please consider voluntarily moving yourself to Emeritus temporarily or permanently. Thanks!

[2017-12-21 15:49] aredridel commented on #268
+1 I'm happy to keep maintaining it as is.

[2017-12-21 20:39] fhinkel commented on #449
@Trott thanks so much for trying to improve the schedule ❤️  I have absolutely no idea how to improve the criteria 🤷‍♀️

[2017-12-21 20:40] Trott commented on #449
I'm going to close this (again) and make the criteria a bit more stringent as described above. Hopefully our various proposals won't be so wildly divergent or sensitive to small changes in the data.

Thanks for all your patience, everyone.

[2017-12-21 20:40] #449 closed

[2017-12-21 23:22] rvagg commented on #443
fwiw this is a whole lot of awesome, thanks for putting in a heap of work into this @Bamieh!

[2017-12-22 01:18] Bamieh commented on #443
thanks @rvagg 🎉

[2017-12-22 07:42] hashseed opened #454 "Call with V8"
We had a few calls to sync between what was the CTC and select people from the V8 team in the past, with good outcomes.

I'd like to propose another one in the second half of January.

Some agenda items I have in mind:
- Update on [GYP/GN](https://docs.google.com/document/d/1gvHuesiuvLzD6X6ONddxXRxhODlOJlxgfoTNZTlKLGA/edit#)
- GCC support in V8
- Visual Studio support in V8
- [Snapshot support in

[2017-12-22 07:48] bmeurer commented on #454
I'd like to propose the following additions to that list:

- Impact of `async_hooks` performance cliffs
- General `Promise` and `async`/`await` performance considerations for Node 10

cc @mlippautz

[2017-12-22 08:02] TimothyGu commented on #454
I think @bmeck would be interested in talking about a special parsing/execution mode for REPL, and perhaps about modules as well if there is anything. For that matter I’d be interested too but I’m not part of the TSC or a regular observer.

[2017-12-22 08:11] hashseed commented on #454
I don't think anyone would mind if we invite both @bmeck and @TimothyGu

[2017-12-22 08:55] bnoordhuis commented on #454
I have an in-progress cmake branch that I should get merged but it's currently blocked on https://github.com/nodejs/build/issues/1003.

[2017-12-22 12:08] hashseed commented on #454
Even with the switch to cmake we would need a way for V8 to test against Node.js without having to maintain cmake configurations, so the GN wrapper still makes sense.

[2017-12-22 14:17] maclover7 commented on #454
Not sure if this is already documented somewhere, but I think having a more written down policy regarding support for VS2015 (is being dropped beginning in v10 IIRC?) would probably be good. IIRC, the change was related in part to things with V8

[2017-12-22 17:40] jasnell commented on #443
Yes, quite happy to see this evolving. Should have some detailed feedback after the holiday.

[2017-12-22 17:41] jasnell commented on #454
Count me in. Would love to see this happen again (and becoming a regular thing).

One additional item I would add is a status update on trace event implementation, just so we can keep it on the radar.

[2017-12-22 17:49] bmeck commented on #454
Sounds good to me.

[2017-12-25 14:05] mhdawson opened #455 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2017-12-27"
## Time

**UTC Wed 27-Dec-2017 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 27-Dec-2017 14:00 (02:00 PM) |
| US / Mountain | Wed 27-Dec-2017 15:00 (03:00 PM) |
| US / Central  | Wed 27-Dec-2017 16:00 (04:00 PM) |
| US / Eastern  | Wed 27-Dec-2017 17:00 (05:00 PM) |
| London        | Wed 27-Dec-2017 22:00 (10:00 PM) |

[2017-12-25 14:29] mcollina commented on #455
I thought we were skipping... if not, can we skip?

In any case, I won’t be joining.

[2017-12-25 15:32] Trott commented on #455
Adding @danbev.

[2017-12-25 17:40] MylesBorins commented on #455
I likely won't be able to make the next two meetings as I'm on Vacation

On Dec 25, 2017 10:32 AM, "Rich Trott" <notifications@github.com> wrote:

[2017-12-26 11:20] fhinkel commented on #455
Sorry, I can't make it this week

[2017-12-27 13:31] rvagg commented on #455
I'm around but would love to skip to ease the end of year load. Anyone opposed to skipping? The agenda is pretty light on urgency.

[2017-12-27 13:31] ChALkeR commented on #455
I won't be able to make it, too late in local time (as speciefied in the spreadsheet :wink: ).

[2017-12-27 15:01] cjihrig commented on #455
I can make it, but would prefer to skip.

[2017-12-27 15:40] jasnell commented on #455
+1 to skipping

[2017-12-27 15:43] danbev commented on #455
I'll be around but no problem skipping either.

[2017-12-27 15:47] evanlucas commented on #455
Skipping sounds good to me

[2017-12-27 15:54] Trott commented on #455
TL;DR: I think we should skip this week too.

GIven the absences, there's almost nothing on the agenda that can be handled anyway.

* Mentorship initiative ramping up. #443

Looks like an FYI only. @mhdawson put it on the agenda and he will miss this meeting.

* Enterprise Advisory Group #431

Issue requires @jasnell. Last I heard, he won't make a TSC meeting until January.

* Document guidelines

[2017-12-27 15:56] Trott commented on #455
TL;DR: Skipping! See you next week!

11 of 21 TSC members have indicated that they will miss the meeting (including @mhdawson), that skipping is desirable, or that skipping is acceptable acceptable. We have no one who has said that they would prefer we meet today or that there is a critical issue that needs to be discussed today. I'm going to close this issue. Feel free to comment and re-open if y

[2017-12-27 15:56] #455 closed

[2017-12-27 20:16] Trott commented on #311
Update (or non-update): I pinged the Moderation Team last week about whether the team wanted to propose what (if anything) more needs to be done to detail moderation policy as it applies to TSC and CommComm. No conclusions have been reached yet, but I'll keep trying to facilitate the conversation. More to come soon, hopefully.

[2017-12-28 16:37] DiegoRBaquero commented on #410
@cjihrig Must transfer repository to nodejs org in github and transfer npm ownership of the module.

[2017-12-28 16:46] cjihrig commented on #410
I've added the nodejs-foundation user as an owner on the npm module. The repo now lives at https://github.com/nodejs/lts, and the automation team has access. I'll leave it up to them what happens next.

[2017-12-28 16:46] #410 closed

[2018-01-01 14:05] mhdawson opened #458 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-01-03"
## Time

**UTC Wed 03-Jan-2018 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 03-Jan-2018 04:00 (04:00 AM) |
| US / Mountain | Wed 03-Jan-2018 05:00 (05:00 AM) |
| US / Central  | Wed 03-Jan-2018 06:00 (06:00 AM) |
| US / Eastern  | Wed 03-Jan-2018 07:00 (07:00 AM) |
| London        | Wed 03-Jan-2018 12:00 (12:00 PM) |

[2018-01-01 14:28] danbev commented on #458
I’m going to miss this one as I’m on holiday this week.

mån 1 jan. 2018 kl. 15:05 skrev Michael Dawson <notifications@github.com>:

[2018-01-01 14:30] addaleax commented on #458
I’ll have to miss this one too, sorry.

[2018-01-01 14:34] mcollina commented on #458
I thought we agreed to skip this one too, but I will be online. I can potentially stream or chair if needed.

[2018-01-01 19:34] MylesBorins commented on #458
I'm on vacation and will be missing this one too ☺️

On Jan 1, 2018 9:34 AM, "Matteo Collina" <notifications@github.com> wrote:

[2018-01-01 19:36] jasnell commented on #458
I'd prefer to skip this week.

[2018-01-01 23:07] cjihrig commented on #458
I'll likely miss this one.

[2018-01-02 01:01] Trott commented on #458
I can (probably) make this one. I think @joyeecheung was planning to chair, but I could be wrong.

Whether or not we cancel, it would be really helpful to get more TSC approvals and/or feedback on https://github.com/nodejs/TSC/pull/456.

[2018-01-02 01:04] Trott commented on #458
(I added @danbev to the post and the GitHub doc. @mhdawson if you could add him to your automated job at your earliest convenience, that would be great!)

[2018-01-02 01:07] Trott commented on #458
Might be a good idea for more people to look at https://github.com/nodejs/node/pull/17581 too. It's a pretty significant change to `assert`.

[2018-01-02 08:01] joyeecheung commented on #458
@Trott I prefer not to chair meetings while I am in China due to network reliability issues (doesn't happen often, but GFW is unpredictable).

[2018-01-02 11:21] targos commented on #458
Sorry for the late reply. I can't make it this time.

[2018-01-02 12:37] fhinkel commented on #458
I checked the issues: They're all waiting for input from folks who can't make it tomorrow. I'm in favor of skipping.

[2018-01-02 22:09] mhdawson commented on #458
Just back from holiday and catching up but this meeting it too early for me so I won't make it.

On #443 I just added to the agenda to make sure the TSC was aware and those interested in mentoring/defining the process chimed in as part of the discussion. It was my action from the CommComm meeting where it was presented.  If there was enough interest we could ask for a repeat of the presentation as

[2018-01-02 22:20] mhdawson commented on #454
I'd like to attend as well.

[2018-01-02 22:32] mhdawson commented on #284
@Trott I'm +1 with my CommComm hat on as well.  @joyeecheung  I wonder if we can get/automate Mikeal's script.

[2018-01-02 22:40] mhdawson commented on #195
@MylesBorins I think we were waiting on a response from the Foundation legal committee, can you chase that   ?

[2018-01-03 00:44] Trott commented on #284
I've done this for people who were only members of that group who also did not have 2FA enabled. If someone wants to find and remove the rest, I won't stop you. :-D

[2018-01-03 00:47] Trott commented on #458
I think we should officially cancel at this time, since no one seems to have a particular sense of urgency that the meeting must or even should happen this week.

@mhdawson I know it's getting late in your time zone, but perhaps you can officially provide the "it's canceled" comment here as the TSC Chair? I don't think we want to wait much longer as canceling with too much less than 12 hours notic

[2018-01-03 11:46] evanlucas commented on #458
+1 to skipping

[2018-01-03 12:06] rvagg commented on #458
nobody else is on the call at 6 minutes past so it's officially cancelled!

[2018-01-03 12:06] #458 closed

[2018-01-03 14:09] mhdawson commented on #458
@Trott, sorry but I was already gone for the day so I missed your suggestion.

[2018-01-04 10:34] hashseed commented on #454
Does it make sense to schedule before or after a TSC meeting? I would assume that that would be more convenient for TSC members.

[2018-01-04 18:20] mcollina commented on #454
We do have a calendar to schedule TSC meetings when everybody can attend, can we use the same system to schedule? What do you think @Trott?

[2018-01-04 19:15] Trott commented on #454
It's easy enough if we have the data. The challenge is getting everyone to enter data. Also, the TSC data is always for a Wednesday (UTC). Things get more difficult if you're talking about different days of the week.

For ad hoc meetings like this, I think Doodle might be more appropriate.

[2018-01-04 22:24] mhdawson commented on #454
@hashseed . My experience is that its always a pain to try to schedule a time.  What I'd suggest is a doogle ot pick the first meeting and then make agree on a regular time slot.  It's easier for people to remember and less work each time.  Depending on who wants to attend though you might need to agree on a few slots and rotate.

[2018-01-04 22:26] mhdawson commented on #454
I can see the rational of trying to piggy back onto the TSC meeting, but it runs long often enough and even if it does not people may be fatigued having it right after an hour meeting.

[2018-01-05 08:16] hashseed commented on #454
Okay. Assuming that most are located between Europe and West Coast, I chose european evenings and west coastal mornings for the Doodle: https://doodle.com/poll/d4ubsq5t6qczcdwm

Let's agree on a suitable time before the January 19th. Thanks!

[2018-01-05 08:21] Trott commented on #454
I filled out the Doodle, but I'm no doubt the least important person to attend, so use me as a tie-breaker only. (Turns out my availability those days is rather scarce anyway.)

[2018-01-05 13:30] seishun commented on #411
@hashseed It's 2018, any news?

[2018-01-05 14:37] hashseed commented on #411
In the meantime I created a wrapper script as planned to create a `libv8_monolith.a` static library that can be used to link `node` instead of `libv8_base.a`. I haven't created a PR on the Node.js side yet to make things work smoothly.

To build `node` without using V8's gyp configs, perform following steps:

1) check out branch `vee-eight-lkgr` from https://github.com/v8/node
2) apply following p

[2018-01-05 16:11] joyeecheung commented on #284
@mhdawson

As @aqrln proposed

But in the github-bot's readme there is:

I wonder why there is a restriction on this? @phillipj

[2018-01-05 16:40] phillipj commented on #284
From what I've understood its related to the same reasons we haven't
granted permissions to third-party GitHub apps/services like Travis CI.

A lot has changed the last year, i.e. the private org that has been
created, so historical concerns might not be valid anymore. Worth raising
the question again IMO.

On Fri, 5 Jan 2018 at 17:11, Joyee Cheung <notifications@github.com> wrote:

[2018-01-05 16:44] bnb commented on #284
Yes, from my understanding a lot of those changes were driven to allow org-wide access for projects and tools like this.

Could this be raised in a TSC meeting? It would be very helpful to get a solid update on it.

[2018-01-05 16:55] mhdawson commented on #284
@bnd I think an issue that is focused on the question of org-wide access along with the specific question would be better than tagging this issue for the agenda.

[2018-01-05 17:13] seishun commented on #411
Is there any difference between `v8` and `v8_monolith` other than the way it's built?

[2018-01-05 17:51] hashseed commented on #411
Not really. Except that `v8` is a collection of files and `v8_monolith` just one.

[2018-01-05 19:22] seishun commented on #411
The file `deps/v8/tools/node/fetch_deps.py` does not exist.

[2018-01-05 19:28] hashseed commented on #411
did you check out from `github.com/v8/node`¿

[2018-01-05 19:30] seishun commented on #411
Yes, there's no `node` directory here: https://github.com/v8/node/tree/vee-eight-lkgr/deps/v8/tools

[2018-01-05 20:04] hashseed commented on #411
You are right. Turns out anything called `node` is ignored by git due to Node's root `.gitignore`. So when I updated our fork's V8 via script, the whole folder was not added.

I fixed that in our node fork [here](https://github.com/v8/node/commit/d4b2b0aee9f08a1d9517675160f035cad8904589). I'll upstream that soonish. Thanks for making me aware!

In the meantime I also push a new version of V8 to ou

[2018-01-05 20:23] seishun commented on #411
`fetch_deps.py` doesn't do anything. It seems intentional: https://github.com/v8/node/blob/bc4ca529a007c9f23acd87534197086b2f10e65e/deps/v8/tools/node/fetch_deps.py#L89-L91

[2018-01-05 21:08] hashseed commented on #411
Ugh. Yeah that's a detail I forgot. We wanted to get this landed first and set up the infra changes before enabling it. Just removing `pass` and uncommenting the function call should do the trick.

[2018-01-05 21:25] seishun commented on #411
It doesn't seem to work. Here's the output:

[code]

[2018-01-05 21:30] hashseed commented on #411
Hm yeah something seems to be missing. I'll look into it next week. Thanks for the feedback!

[2018-01-05 22:46] hashseed commented on #411
I figured it out. `gclient` needs `depot_tools` to be included in `PATH` to work. I fixed the script and pushed the fix to `v8/node/vee-eight-lkgr`.

Sorry about all the trouble. I'm testing this again on a clean machine to make sure.

[2018-01-05 22:59] hashseed commented on #411
Seems to work for me now. I also changed the `fetch_deps.py` script to accept a second argument to skip the patching.
`deps/v8/tools/node/fetch_deps.py deps/v8 force` should work.

[2018-01-06 10:55] seishun commented on #411
There's a different error now:

[code]

[2018-01-06 19:33] hashseed commented on #411
For some reason my python distribution has gyp as package included. Yours doesn't. But then again we should not need it at all.

Does this patch fix the issue?

[code]

[2018-01-06 21:21] seishun commented on #411
Seems to work now.

Is this the final solution? I'm curious why you went with a `fetch_deps.py` script. I understand that checking in binaries is not ideal, but relying on a remote resource makes it susceptible to link rot, consequently there's no guarantee that this commit will be buildable in the future.

[2018-01-06 21:35] hashseed commented on #411
Thanks for verifying!

This is not the "final" solution in the sense of that's where Node.js' build system should end up. The problem this should solve is that the V8 team is committed to test against Node.js, but wants to end support for gyp. This is not designed as a full replacement for V8's gyp configs.

In the short term, Node.js inherits ownership over V8's gyp configurations to continue bui

[2018-01-07 13:03] seishun commented on #411
That's the issue - if Node.js were to consider adopting GN (at least for V8), the dependence on V8 and Chrome resources might become an obstacle, considering the Node.js repo is currently self-contained.

[2018-01-07 13:20] hashseed commented on #411
Having talked to the GN team in the past, I don't think GN is a viable option for Node.js to completely follow through. This gyp-gn bridge is really just to cut the dependency to gyp for our integration testing.

[2018-01-07 13:37] seishun commented on #411
Any reason for that besides the dependence on remote resources? And could you clarify what PR you meant in https://github.com/nodejs/TSC/issues/411#issuecomment-355569264? I assumed it referred to the GN wrapper.

[2018-01-07 13:46] hashseed commented on #411
The [doc](https://docs.google.com/document/d/1gvHuesiuvLzD6X6ONddxXRxhODlOJlxgfoTNZTlKLGA/edit#) lays out a couple of reasons. Mostly because GN does not support the full range of platforms that Node.js does.

The PR I have in mind is to introduce a build flag to Node.js to be able to use the gn wrapper, currently the patch in step 2.

[2018-01-07 14:51] seishun commented on #411
According to @refack, the V8 support for those platforms that are not supported by GN is maintained by companies interested in such support ([IRC log](http://logs.libuv.org/node-dev/2017-11-01#19:55:59.434)). So it seems reasonable to expect those companies to help with GN support on those platforms as well if Node.js were to follow this route. It seems to me that it would be more efficient in the

[2018-01-07 16:01] hashseed opened #464 "RFC: Bazel for build system"
This is something I've been brooding over for a while. Elaborated [here](https://docs.google.com/document/d/101BP4BpZoP4tsMGo4j_MhoyLv169-2Oq_HeyWykCNGc/edit#).

TL; DR: GN doesn't seem like a good option going forward. Maybe Bazel is a viable replacement for GYP? V8 already has, internally at Google, Bazel configs. I'm just suggesting this as option, not trying to convince anyone. The V8 team doe

[2018-01-07 16:01] hashseed commented on #411
A couple of thoughts:
- Platforms not backed by companies, such as FreeBSD, will not receive any support.
- GN relies on a number of platform-dependent configs and binaries. You will not get around of fetching these resources from somewhere, unless you want to include them in Node altogether.
- GN is not designed for broad public adoption from what I gathered.
- The advantage of GN over something

[2018-01-07 17:57] seishun commented on #411
Are there any other such platforms? FreeBSD is free and works on x86-64, so pretty much any collaborator can get involved with its support.

I think including them in Node is an option.

In that case, Bazel is definitely worth looking into.

I'd say if the effort to adopt GN remains useful for 5 years, it would be more than worth it.

[2018-01-07 18:06] seishun commented on #464
So far I don't see any disadvantages of Bazel compared to GN besides the fact that Bazel requires a separate installation.

As far as I know, native modules don't require any special support from Node.js. That is, GYP files could be completely removed from Node.js, and they would still compile and work. Please correct me if I'm wrong.

I don't think anyone would really care as long as they don't h

[2018-01-07 18:12] ljharb commented on #464
If JS devs have to rely on a Java tool, they would have to read or write Java in order to contribute for bugfixes etc; there is definitely an aversion in the community to that (“irrational” is a subjective enough term that perhaps it should be removed from the doc, to avoid debating how rational it might indeed be).

[2018-01-07 18:16] hashseed commented on #464
Well in case of gyp that would be Python. In case of cmake and V8 that would be C++.

[2018-01-07 18:19] ljharb commented on #464
To clarify, would be particularly compelling if the tool used were implemented in JS.

[2018-01-07 18:31] hashseed commented on #464
Don't you then have to come up with a way to bootstrap?

[2018-01-07 18:38] mcollina commented on #464
I’m -1 on moving to a Java tool. Python is part of all Linux distributions, so it is not a dependency we need to install in a lot of cases.

I’m +0 to be self hosted, but writing yet another build tool is not a priority. I would prefer to use an existing tool.

[2018-01-07 18:40] hashseed commented on #464
The way I understand it Bazel comes packaged with JVM. The fact that it is written in Java is an implementation detail that is transparent to the user.

[2018-01-07 18:47] mcollina commented on #464
From https://docs.bazel.build/versions/master/install-ubuntu.html  Bazel seems more complicated than using/installing gyp.

[2018-01-07 22:28] bnoordhuis commented on #464
Add-ons depend on node's common.gypi: https://github.com/nodejs/node-gyp/issues/1118

It's not unfixable but that will take time and effort.

[2018-01-08 02:42] jin commented on #464
FWIW, the surface of Bazel that the JS devs will have to interact with is the Skylark (Python-based) API that the rules are implemented in (like rules_node). The core incremental graph processing framework are mostly developed by the Bazel developers and some rule writers.

[2018-01-08 04:01] ljharb commented on #464
Sure. But the JS devs that use it might *become* those core developers given the chance - and having it be in JS maximizes that.

[2018-01-08 04:53] hashseed commented on #464
That sounds a bit far-fetched though, and considering that there is no mature build system in JS at all right now, purposefully avoiding Java seems unreasonable.

[2018-01-08 08:00] seishun commented on #464
That doesn't seem to be a blocker.

1. It probably wouldn't take much effort to continue maintaining `common.gypi`.
2. Fixing https://github.com/nodejs/node-gyp/issues/1118 is a good idea whether or not Node.js switches to a different build system.

[2018-01-08 08:12] mcollina commented on #464
👍  for fixing nodejs/node-gyp#1118 anyway.

Some notes:

1. Will the new build tool be pushed/made available to the ecosystem, or the ecosystem would stick being gyp-only? I don't think we can easily move the ecosystem, so we must keep maintaining gyp anyway and moving to another just for core increases the code we have to rely on.
2. Gyp is written in python, we maintain it in-tree and it is very

[2018-01-08 08:26] hashseed commented on #464
If by ecosystem you mean node modules currently relying on gyp... I don't think that should be within scope of this discussion. Anything that replaces gyp in Node core will have the same effect.

[2018-01-08 14:05] mhdawson opened #465 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-01-10"
## Time

**UTC Wed 10-Jan-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 10-Jan-2018 09:00 (09:00 AM) |
| US / Mountain | Wed 10-Jan-2018 10:00 (10:00 AM) |
| US / Central  | Wed 10-Jan-2018 11:00 (11:00 AM) |
| US / Eastern  | Wed 10-Jan-2018 12:00 (12:00 PM) |
| London        | Wed 10-Jan-2018 17:00 (05:00 PM) |

[2018-01-08 14:40] targos commented on #465
Empty agenda?

[2018-01-08 15:10] cjihrig commented on #465
@mhdawson can you remove @joshgav from the automated invite list?

[2018-01-08 17:37] MylesBorins opened #466 "Nominating @gibfahn to the TSC"
@nodejs/tsc ... I would like to nominate @gibfahn to the TSC. Gibson has been doing amazing work in the build group, with CITGM, and more recently helping with LTS releases.

Following the normal procedure, the first step would be to invite @gibfahn as an observer in the regular TSC calls.

[2018-01-08 17:40] targos commented on #466
+1

[2018-01-08 17:41] jasnell commented on #466
+1

[2018-01-08 17:45] cjihrig commented on #466
+1

[2018-01-08 18:27] fhinkel commented on #466
+1

[2018-01-08 18:55] danbev commented on #466
+1

[2018-01-08 19:34] mcollina commented on #466
+1

[2018-01-08 19:56] mhdawson commented on #465
will do

[2018-01-08 19:57] MylesBorins opened #467 "Make team for Electron"
Hey All,

With our recent cleanup of members not in other teams it appears we have removed some members of the electron core team. I was thinking it might make sense to make a new team specifically for electron

Thoughts?

[2018-01-08 19:59] mhdawson commented on #465
Hmm, not sure why nothing is listed on the agenda will investigate.

[2018-01-08 20:41] mhdawson commented on #465
Its pretty strange.  The only 2 options I can think of are that somebody recently renamed the tag from `TSC-agenda` to `tsc-agenda` or the github searches did not used to be case sensitive but now are.  In any case I'll update the automation to reflect the lower case tsc.

[2018-01-08 20:53] evanlucas commented on #466
+1

[2018-01-08 21:13] ChALkeR commented on #467
What purpose would it serve, and what do those people think about that? (Perhaps mentioning them here would help).

[2018-01-08 21:33] addaleax commented on #466
+1

[2018-01-08 22:13] MylesBorins commented on #467
/cc @groundwater

[2018-01-08 22:48] mhdawson commented on #467
I think we might name the team 'embedders' so that we can include any product/project that embeds Node.js.  I see that as a growing use case a tea might be a good way to have a communications channel.  An email alias might work just as well unless we want them to have access that only comes with being part of the org.

[2018-01-08 22:49] mhdawson commented on #467
Thinking about it more being able to to an @ is easier than sending an separate email so maybe and email alias is not a good alternative.

[2018-01-08 22:57] mhdawson commented on #464
I agree with

[code]

One of the great things about Node.js is how easy it is to build Node.js even if you have not done it before.

[2018-01-08 23:01] mhdawson commented on #411
@hashseed I'll ask the people who were working on the GN support to comment here.

[2018-01-08 23:04] mhdawson commented on #465
Unless people object I'd like to add https://github.com/nodejs/TSC/pull/456 to the agenda as well.

[2018-01-08 23:28] groundwater commented on #467
It would be great to have folks working on upgrading node in electron on a team here. This would also ensure folks were already added to the org if folks ever need to discuss things in a private repo. Org invite mails are notorious for getting lost, and having folks complete it beforehand would be useful.

👍 on being able to @-mention folks who want to subscribe to things going on in the node side

[2018-01-09 02:48] rvagg commented on #465
I reckon if something has been on `tsc-review` for more than a week it should be trivial for someone to raise it to `tsc-agenda` since we all should be engaging with it already, so +1 @mhdawson.

I won't be attending this week but I need to try and get something more meaty on the OpenSSL planning stuff that's part of Strategic Initiatives. We're reaching a critical decision-point for Node 10 and h

[2018-01-09 04:28] rogerwang commented on #467
I second this. NW.js is a large downstream project of Node.js.

[2018-01-09 05:09] rvagg commented on #464
I'd really like us to jump ship to a proven technology rather than something that could be just as much a dead end for us as GYP. I have the same reservations about GN. I'm not seeing anyone that's heard of Bazel before and I'd hate to see Node be a test subject for yet another build technology that may not last the distance.

Also, there's something pretty gross about telling people to install Ja

[2018-01-09 05:55] hashseed commented on #464
I don't think Google has an aversion to cmake. Like I stated, the V8 team doesn't have any stakes in this. I'm merely introducing options that could make sense. Bazel requires less additional maintenance work, since V8 already has to maintain Bazel configs. With cmake, as with gyp, Node will need to maintain build configs everytime V8 is updated.

I wouldn't say Bazel is unproven technology, since

[2018-01-09 08:45] gibfahn commented on #464
At least for me, the issue isn't that Bazel/GN/GYP aren't stable and powerful tools, it's that Google develop them to fix their current problems, and there's no guarantee they won't disappear. I'd rather maintain V8 build configs than risk having to maintain another build system in the future.

Another +1 for cmake.

[2018-01-09 15:08] mhdawson commented on #464
+1 for cmake, and I think @bnoordhuis is already working on an proof of concept using cmake.

[2018-01-10 01:49] Trott commented on #465
@mhdawson Can you also add @danbev?

[2018-01-10 02:39] Trott commented on #466
+1

[2018-01-10 02:40] Trott commented on #465
Adding @danbev and @gibfahn to the issue and the doc.

[2018-01-10 02:43] ofrobots commented on #466
+1

On Tue, Jan 9, 2018, 6:39 PM Rich Trott <notifications@github.com> wrote:

[2018-01-10 05:06] danbev commented on #465
Thanks for adding me but I'm afraid I can't make it today, sorry.

[2018-01-10 07:11] aaronleeatali commented on #454
I would like to know the future of workers in node.js. My co-workers and I have worked on this in recent moths to make workers in node.js much lighter.

[2018-01-10 14:16] ChALkeR commented on #467
:+1:  for an «embedders» team, even just making it easy to @-mention them as a group looks like good reason to have it.

[2018-01-10 15:37] mhdawson commented on #465
@Trott aded danbe and gibfahn to the templates here https://github.com/mhdawson/create-node-meeting-artifacts/tree/master/templatesso they will appear in future meetings

[2018-01-10 16:40] MylesBorins commented on #465
I might be 10 minutes late

[2018-01-10 16:59] gibfahn commented on #465
Can someone send me the meeting URL? Not sure where I'm supposed to get it from.

[2018-01-10 17:01] cjihrig commented on #465
@gibfahn done

[2018-01-10 17:02] Fishrock123 commented on #466
+1

[2018-01-10 17:03] joyeecheung commented on #466
+1

[2018-01-10 17:11] ChALkeR commented on #466
+1

[2018-01-10 19:59] Trott commented on #466
@gibfahn As you attend TSC meetings as an observer, feel free to speak. Part of the point is to get folks on the TSC familiar with how you communicate in meetings. Don't say stuff just for the sake of saying stuff, of course. But if you have something to add or a question to ask, do it!  :-D

[2018-01-11 00:25] gibfahn commented on #466
Oh, I assumed _observer_ was in contrast to _participant_, and thus implied not talking. So what is the aim of being an observer? Is it a trial period? Does it just mean you don't vote on things?

I also notice people seem to use the chat a fair amount, especially for asides when other people are talking. Seems like a good way to stop it devolving into the usual "start talking at the same time as

[2018-01-11 00:29] jasnell commented on #466
Generally observer means actively participate in everything except voting on the rare occasions we actually need to vote on things.

[2018-01-11 11:43] ulfjack commented on #464
Full disclosure: I work on Bazel for Google.

I'd like to say a few things:
- I wouldn't say that Google has an aversion to cmake, but I don't think cmake will work for Google because large [1]. You could argue that Google could have made cmake work for it, and that might have been possible, but I think that ship has sailed now.
- Bazel is more than 10 years old, although we only open sourced it t

[2018-01-11 14:04] joyeecheung commented on #464
Looking at https://github.com/bazelbuild/bazel/releases it seems that Bazel only provides packaged installers for Linux, Windows and macOS. To install it on all the CI machines of our supported platforms we would still need to deal with JDK installation.

[2018-01-11 14:18] bnoordhuis commented on #464
Another thing is that the build tool is ideally something that you can just `apt-get install`, which is not the case with bazel.

[2018-01-11 21:14] mhdawson commented on #467
Marking as cc-review and tsc-review as an FYI as it would be adding a 'new' group to the org and additional people with access to the moderation repo.

[2018-01-11 21:17] mhdawson commented on #454
@aaronleeatali see https://github.com/nodejs/worker for some past discussion/work on this front.  It would be great if you could comment on existing issues or open a new one there to share your use case and experience with workers.

[2018-01-11 22:27] Trott commented on #467
This could be considered a team of external collaborators that are not under the `members` umbrella group and do not get access to the moderation repo. Not advocating either way. Just saying that it's an option. We don't have to grant *everybody* access to the moderation repo if that's not the right thing to do.

[2018-01-12 00:39] cjihrig commented on #467
+1 to a team of external collaborators without moderation repo access. I prefer embedders over electron.

[2018-01-12 13:15] ulfjack commented on #464
I'm an engineer, not a salesperson. I freely admit that there are valid concerns about using Bazel as a build system. However, I'm concerned that the arguments brought up so far have been around what I would consider secondary issues. The most important things about a build system, in my opinion, are ease of use, fitness for the intended purpose, reliability, maintainability, correctness, and perf

[2018-01-12 14:09] hashseed commented on #411
I streamlined things a bit.
[code]

[2018-01-12 18:35] seishun commented on #464
So far it seems Bazel isn't really a better choice than GN.

* Although Bazel has more public adoption than GN, it's still somewhat obscure.
* Bazel is difficult to install on a number of platforms, so we would probably end up bundling it or providing an installation script - [just like with GN](https://github.com/nodejs/TSC/issues/411#issuecomment-357247438).
* Platform support in Bazel isn't any

[2018-01-12 23:15] mhdawson commented on #467
@Trott good point.  I agree +1 to what @cjihrig said.

[2018-01-12 23:48] MylesBorins opened #470 "Discussing Top Level Await at TC39"
Hey All,

I've recently added [a 30 minute agenda item](https://github.com/tc39/agendas/pull/296) to discuss Top Level Await at tc39 and attempt to get it accepted at Stage 0.

If anyone has specific questions or concerns please chime in.

[2018-01-13 20:16] gibfahn commented on #464
From what you say, Bazel is the same or better in all three of those areas, it's more popular, has more official platform support, and is equally difficult to install.

Also I'd assume Google aren't going to be interested in supporting both long-term, so the chances are that GN will go the way of GYP. What would be the reason(s) to choose GN over Bazel?

[2018-01-13 21:10] seishun commented on #464
* If I understood correctly, Bazel isn't supported officially by V8, it's only for internal use. Also, Google uses Blaze internally, not Bazel, which might result in compatibility issues that we won't get help with.
* With Bazel, we'll have to figure out how to bundle it or provide an installation script. With GN, it's already done for us.

[2018-01-15 06:44] yunong commented on #454
I would be interested in attending.

[2018-01-15 06:52] hashseed commented on #454
It's not quite January 19th yet, but I'd like to propose the final choice, based on the Doodle outcome:

**January 31st, 7:15 PM Central European Time, 10:15 AM Pacific Time.**

[2018-01-15 07:11] TimothyGu commented on #454
Seems like I'll be one of the only two people to miss the meeting... oh well. I do have a class during that time but I'll see if I can miss it. That's my long-winded way of saying "sounds good to me."

[2018-01-15 12:08] aaronleeatali commented on #454
@mhdawson Thanks.

[2018-01-15 12:53] aaronleeatali commented on #454
@mhdawson Thanks.
I am reading this and I hope our work can makes a positive contribution.
We have implemented worker in node.js which is relatively light-weight.
The design document and the performance data will be published after we finish our job.
 We would be glad  to receive feedback then.

[2018-01-15 13:40] hashseed commented on #454
@TimothyGu sorry that the date doesn't suit you. I will take meticulous notes.

[2018-01-15 13:48] hashseed commented on #454
Invitation has been sent. Let me know if I should extend it to more folks.

[2018-01-15 14:05] mhdawson opened #471 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-01-17"
## Time

**UTC Wed 17-Jan-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 17-Jan-2018 14:00 (02:00 PM) |
| US / Mountain | Wed 17-Jan-2018 15:00 (03:00 PM) |
| US / Central  | Wed 17-Jan-2018 16:00 (04:00 PM) |
| US / Eastern  | Wed 17-Jan-2018 17:00 (05:00 PM) |
| London        | Wed 17-Jan-2018 22:00 (10:00 PM) |

[2018-01-15 16:30] Trott commented on #471
Adding @gibfahn as an observer.

[2018-01-15 16:31] Trott commented on #471
Oops, it was already done. Below the fold for me. Sorry. Ignore.

[2018-01-15 16:39] mhdawson commented on #454
@hashseed depending on how open it is, it would be great if @mmallick-ca, @jbarz could be invited.  They work with me keeping our V8 ports up to date for s390 and PowerPC

[2018-01-15 16:47] mhdawson commented on #471
Since we seem to have a lighter agenda (although believe a few people said there would be updates on initiatives this week) if we have time we may want to discuss the tsc-review items as well:

[2018-01-15 16:52] jasnell commented on #471
https://github.com/nodejs/node/pull/18131 needs to be on the agenda this week.

[2018-01-15 16:52] joyeecheung commented on #471
@mhdawson I think we could discuss about https://github.com/nodejs/node/issues/18090 in this meeting. I will try to come up with a list of questions before the meeting starts.

[2018-01-15 17:55] mhdawson commented on #471
@jasnell , @joyeecheung added.

[2018-01-16 10:15] hashseed commented on #454
@mhdawson no objections here. I extended the invitation to both.

[2018-01-16 16:23] jasnell commented on #454
@hashseed ... can you please include me on that as well? (I haven't seen an invitation come through so just want to make sure)

[2018-01-16 17:06] hashseed commented on #454
I thought I already did. In any case I removed and readded you from the calendar event.

[2018-01-16 18:05] ofrobots commented on #464
@seishun

FWIW, from my point of view, here are the differences between Bazel and GN:
* Google has been using the technology behind Bazel for around a decade. While Bazel is a Google initiated project, it is very much an open source project with a strong interest in bringing a fast and correct build system to the widest community of developers. IOW, this is a NOT a Google-only tool. Much like the

[2018-01-16 19:26] seishun commented on #464
But what does it mean for Node.js in practical terms? It seems there is no practical difference in terms of platform support at least.

Any use cases that are currently supported by GYP and Bazel, but not by GN?

---

By the way, I don't see any BUILD files in the V8 repo. Where can I find them?

[2018-01-16 19:35] ofrobots commented on #464
My understanding, to put it bluntly, is that any use of GN in a project other than Chrome is unsupported.

Those are in our internal-only repo.

[2018-01-16 20:26] seishun commented on #464
So what's the plan, make them available if we agree to use Bazel? Do we get to experiment with them first?

As in, you won't get help with GN issues unless you're working on Chrome? But will you get help building V8 with Bazel if you don't work for Google?

[2018-01-17 04:19] fhinkel commented on #454
Should we plan on streaming/recording this on YouTube?

[2018-01-17 07:03] fhinkel commented on #464
Everything works fine with gyp and gn - at the moment. It might be, that we can use gyp for the next decades and never run into any problems, it might be, that there's a change in V8 in 6 month that just happens to make it impossible to build with gyp (unlikely).

The issue with gn is the long term outlook. It's build for and by Chrome, and afaik there's no guarantee that it will be supported in t

[2018-01-17 08:21] hashseed commented on #464
I have definitive statement from Chrome's GN team to not promote GN outside of Chrome. GN has been developed for Chrome and only Chrome. The team to support GN is very small and will not have the bandwidth to deal with other users.

I'm not entirely clear what you can expect wrt support from Bazel. But given the size of the Bazel team at Google and the fact that Google uses Blaze for everything in

[2018-01-17 11:07] dshaw commented on #454
@fhinkel Recording this meeting would be great. I would definitely be interested in viewing this, but have been resisting piling on just to observe. Thank you.

[2018-01-17 15:18] jasnell commented on #471
One additional discussion item for today's agenda: The performance impact of async_hooks on Promises. See: https://github.com/nodejs/benchmarking/issues/188 for background. The short version is: async_hooks Promise integration currently causes a *massive* performance hit due, apparently, to the additional boundary crossing that is required. We definitely need to be progress async_hooks out of expe

[2018-01-17 18:36] bmeurer commented on #471
@jasnell, @mhdawson  I also did a test run of simple `hapi` and `koa` servers (using @mcollina's `autocannon` tester), again with and without `async_hooks` enabled to get more real-worldish numbers (the Promise benchmarks arguably really stress promises pretty heavily). The results were pretty interesting (with latest Node 9.4.0):

![Results for Node 9.4.0](https://raw.githubusercontent.com/bmeure

[2018-01-17 18:38] MylesBorins commented on #471
I likely won't be able to make the meeting today unfortunately

[2018-01-17 18:41] joyeecheung commented on #471
List of questions from the collaborator nomination discussion: https://github.com/nodejs/node/issues/18090#issuecomment-358401129

I'll try to make it today if my alert didn't fail me.

[2018-01-17 19:00] bmeurer commented on #471
And to provide even more data for the discussion: The performance drop also increases with the number of hooks being used (maybe not unsurprising). For example for the `Promise` benchmarks, we see additional performance regressions:

![](https://raw.githubusercontent.com/bmeurer/async-hooks-performance-impact/master/results-promise-node-9.4.0.png)

[2018-01-17 19:23] targos commented on #471
I won't be able to make it today

[2018-01-17 20:39] mhdawson commented on #464
Just looping back to the earlier discussion, what are the advantages of Bazel over cmake ? I guess it is because v8 is willing to maintain the Bazel configs ?

[2018-01-17 22:04] fhinkel commented on #471
I won't be able to make it today.

On Wed, Jan 17, 2018, 7:25 PM Michaël Zasso <notifications@github.com>
wrote:

[2018-01-17 22:07] hashseed commented on #464
Yes.

[2018-01-17 23:05] Trott commented on #471
Minutes in https://github.com/nodejs/TSC/pull/472

[2018-01-17 23:05] #471 closed

[2018-01-17 23:06] gibfahn commented on #471
I think this one got missed.

[2018-01-17 23:08] Trott commented on #471
Seems a little rushed to put on the TSC agenda after only 2 days, so maybe that's a good thing? Regardless, I just changed the label on that issue from `tsc-review` to `tsc-agenda` so it will be on the agenda next week.

[2018-01-18 05:27] bmeurer commented on #471
@Trott Is there a certain threshold of days?

For context: The underlying issue has been there ever since promise hooks were introduced (so longer than a year), and there seems to be a certain kind of urgency to resolve this, since `async_hooks` are about to leave *EXPERIMENTAL* stage without a solution for the performance problem in sight.

[2018-01-18 05:29] jasnell commented on #471
Not rushed at all in my opinion. It wasn't put on the agenda for a decision to be made, it was put on to discuss and make sure everyone is aware of the issue. We're far from making a decision at this point.

[2018-01-18 05:59] Trott commented on #471
@bmeurer No, but generally, if it's not urgent and if conversation in the issue tracker is active and reasonably productive, TSC tends to (or should IMO) not short-circuit that process.

[2018-01-18 06:03] bmeurer commented on #471
@Trott Since this is a pretty cross cutting concern, it was suggested to bring this to everyone's attention as an FYI on the TSC agenda.

[2018-01-18 06:04] Trott commented on #471
@jasnell IMO, if it was put on the agenda for discussion and awareness only, then it should not have been put on the agenda. Mention stuff in the Announcements section maybe if you want awareness.

* Email is more effective for awareness. That way, everyone on the TSC gets the same information. Meetings never have 100% attendance, minutes are extremely imperfect, and members that miss meetings rar

[2018-01-18 06:13] Trott commented on #471
Cool. Maybe that would have been clear had we gotten to it in the meeting. :-D

Just to make sure there's no misunderstanding:  I'm not upset that it was on the agenda or anything. Our rules are that anyone can put anything on the agenda.  I may have an opinion, but people get to put whatever *they* think is right on the agenda. I'm OK with that.

I just personally think that we have too many agen

[2018-01-18 06:20] Trott commented on #471
Also, arguing against myself here:

It's unreasonable to expect everyone, even Collaborators, to know our governance and committee culture. From the perspective of someone who spends a couple hours or less in our issue tracker a week, putting something on the TSC agenda seems like a reasonable thing to do in these sorts of cases. They might not know about (or remember) the `tsc-review` label and m

[2018-01-18 11:41] seishun commented on #464
So far it sounds like the V8 team would be doing Node.js a special favor by providing us with support for building V8 with Bazel. Would it take more effort for the GN team to do us a favor by supporting the use of GN for Node.js instead? Considering there is extensive public documentation for GN, but Bazel build for V8 is effectively non-existent as of today, that doesn't seem to be the case. Or i

[2018-01-18 20:08] mhdawson commented on #454
I created a youtube event.  The main limitation is that I think we can only have ~10 people (although I think the limit might be 15 for our account).  https://www.youtube.com/watch?v=Cg1jWTPAIDU is the link for those who want to watch.  I'll post the link for participants a few minutes before the meeting (Same can be done by any "manager" of the Node.js youtube account)

[2018-01-22 06:30] TimothyGu commented on #454
Even though I probably will not be there at the meeting, if possible I'd like to add to the agenda to talk about hooks in v8::Module that would allow more efficient deprecation of module exports. Much of the discussion began in https://github.com/nodejs/node/pull/17560, but I'll summarize it below.

Currently, Node.js uses self-hosted CJS files for implementation of core modules. To deprecate an e

[2018-01-22 10:21] vdeturckheim opened #474 "Joining core security team and core triage team"
Hello,

As of https://github.com/nodejs/security-wg/blob/master/processes/security_team_members.md I'd like to request membership to the security team and the core triage team.

Right now, I am active in the security WG:
* I have set up the ecosystem triage team
* I am helping setting up the core triage team

I believe I could still be helpful on HackerOne usage and housekeeping for the core triag

[2018-01-22 14:05] mhdawson opened #475 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-01-24"
## Time

**UTC Wed 24-Jan-2018 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 24-Jan-2018 04:00 (04:00 AM) |
| US / Mountain | Wed 24-Jan-2018 05:00 (05:00 AM) |
| US / Central  | Wed 24-Jan-2018 06:00 (06:00 AM) |
| US / Eastern  | Wed 24-Jan-2018 07:00 (07:00 AM) |
| London        | Wed 24-Jan-2018 12:00 (12:00 PM) |

[2018-01-22 14:53] mcollina commented on #475
I might (or might not) be able to join - I'll be landing in Singapore that day. Timezone is friendly.

[2018-01-22 15:08] jasnell commented on #431
Closing this as there's currently nothing further for the TSC to discuss.

[2018-01-22 15:08] #431 closed

[2018-01-22 16:02] MylesBorins opened #476 "Tracking issue for updating TSC on Board Meetings"
I figured it might make sense to keep a meta tracking issue for this similar to what we do for Strategic Initiative.

Thoughts?

[2018-01-22 19:22] fhinkel commented on #476
IMHO too much overhead.

On Mon, Jan 22, 2018, 5:02 PM Myles Borins <notifications@github.com> wrote:

[2018-01-22 22:10] ljharb commented on #431
@jasnell could you summarized what was discussed (referred to in advance [here](https://github.com/nodejs/TSC/issues/431#issuecomment-352523868))?

[2018-01-23 17:41] fhinkel commented on #475
Is anybody joining tomorrow who can stream the meeting?

[2018-01-24 05:44] danbev commented on #475
Sorry, I won't be able to attend todays meeting (still home taking care of sick kid).

[2018-01-24 06:29] Trott commented on #475
I will try to wake up for it, but am likely to skip. (If I do attend, I will be unable to speak but will be able to do the usual typing into the chat.)

[2018-01-24 08:24] targos commented on #475
I will be joining, but cannot stream

[2018-01-24 12:06] ChALkeR commented on #475
Sorry, I will miss the meeting today, got a time conflict.

[2018-01-24 12:15] fhinkel commented on #475
We ended up cancelling today due to low participation. Closing.
If you could look at https://github.com/nodejs/node/pull/14595 so it can get a second lgtm, that would be great.

[2018-01-24 12:15] #475 closed

[2018-01-25 14:39] bnb commented on #284
@Trott I raised this in the last CommComm meeting, asking folks who haven't looked at it to take a look. There have apparently been no objections from the CommComm.

+1 from me personally, as well.

[2018-01-29 14:05] mhdawson opened #478 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-01-31"
## Time

**UTC Wed 31-Jan-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 31-Jan-2018 09:00 (09:00 AM) |
| US / Mountain | Wed 31-Jan-2018 10:00 (10:00 AM) |
| US / Central  | Wed 31-Jan-2018 11:00 (11:00 AM) |
| US / Eastern  | Wed 31-Jan-2018 12:00 (12:00 PM) |
| London        | Wed 31-Jan-2018 17:00 (05:00 PM) |

[2018-01-29 14:10] hashseed commented on #478
A bit off-topic, but please note that there is the call with the V8 team taking place right after this TSC meeting (7:15 PM Central European Time, 10:15 AM Pacific Time). I would welcome you to join, even if two meetings back-to-back can be tiring.

[2018-01-30 10:42] bnoordhuis commented on #478
Please put https://github.com/nodejs/node/pull/18270 on the agenda, it needs a TSC decision.

[2018-01-30 22:10] mhdawson commented on #478
@bnoordhuis added.

[2018-01-30 22:13] mhdawson commented on #476
Don't think there would be much overhead.  If we have an open issue tagged tsc-agenda it will automatically show up in the list of issues when the issue/minutes are automatically generated.

[2018-01-30 22:15] mhdawson commented on #474
This seems reasonable to me, and it would also let @vdeturckheim help transition the core triage team to using HackerOne.  @nodejs/security thoughts ?

[2018-01-30 22:18] mhdawson commented on #454
I accidentally used the meeting I had set up during the last benchmarking meeting.  So new hangout. Link for those who just want to watch https://www.youtube.com/watch?v=4Fz6Tz9kb_s.  Will post link for participants a few mins before meeting start.s

[2018-01-31 08:53] MylesBorins commented on #478
I'm unfortunately won't be able to make the meeting. I'm reviewing the issues right now.

Update regarding modules:

* dynamic import on by default for esm
  - currently you need to use two flags to get dynamic import
  - https://github.com/nodejs/node/pull/18387
* import.meta implementation
  - finding consensus around initial api
  - https://github.com/nodejs/node/pull/18368
* named exports for

[2018-01-31 09:48] bnoordhuis commented on #474
No objections.

[2018-01-31 14:38] jasnell commented on #474
No objections

On Jan 31, 2018 01:48, "Ben Noordhuis" <notifications@github.com> wrote:

[2018-01-31 14:46] joyeecheung commented on #478
I am a bit unwell so will not be able to stay up this late tonight..

[2018-01-31 16:32] mcollina commented on #474
no objections

[2018-01-31 17:07] Trott commented on #478
Moderation team update:

* Indefinite block for one user for spam/likely-malware from a throwaway account.
* Indefinitely blocked one user for spam. Emailed user. Will remove the block if user resolves the issue.
* One user’s temporary block was supposed to be lifted after a week, but subsequent emails from the user suggest that they are not reforming their behavior. Moderation Team consensus is t

[2018-01-31 18:11] mhdawson commented on #454
Link for participants https://hangouts.google.com/hangouts/_/ytl/emObhwJJLj7HA6hCi7-oPVFpXGNfwukePeqM4RIQVEE=?eid=100598160817214911030

[2018-01-31 18:13] bmeurer commented on #454
Would it be possible to reorder the agenda items to have these first?
- Impact of async_hooks performance cliffs
- General Promise and async/await performance considerations for Node 10
- Workers in Node.js
- Memory tooling
- V8 extras

[2018-01-31 18:16] ofrobots commented on #454
video call is full 😿

[2018-01-31 18:16] cjihrig commented on #454
yes, what @ofrobots said

[2018-01-31 18:17] jasnell commented on #454
Ditto. Unable to join. Can we please pick something other than hangouts with higher capacity

[2018-01-31 18:18] mhdawson commented on #454
Going to setup a zoom instead

[2018-01-31 18:19] mhdawson commented on #454
https://zoom.us/s/157133358

[2018-01-31 18:19] mcollina commented on #454
https://zoom.us/j/157133358

[2018-01-31 18:35] jasnell commented on #478
Had to miss due to an academics awards ceremony for my youngest that was far more important :-)

[2018-01-31 18:47] devsnek commented on #454
is this no longer going to be streamed?

[2018-01-31 20:11] Fishrock123 commented on #454
The video recording is still processing but I'll post here when it's done.

[2018-01-31 20:35] jasnell commented on #454
Good thing you were recording because it looks like the zoom recording wasn't turned on :-)

[2018-01-31 21:14] Fishrock123 commented on #454
Youtube recording: https://youtu.be/a6YtLIaqMqs

[2018-01-31 21:26] Fishrock123 commented on #454
@hashseed Think you could get us a link again to the clang presentation slides? I'd like to annotate the recording there.

Unfortunately I was not set up to record the actual video (and didn't really even think about it due to how our regular meetings are). That discussion starts at https://youtu.be/a6YtLIaqMqs?t=47m4s for like 20mins.

[2018-02-01 00:06] gibfahn commented on #478
On holiday so will miss this one (and the next).

FWIW the use of 👍 / 👎 reactions to the issue to denote ability to attend works pretty well in Build and Release, maybe worth using in the TSC too. See e.g. https://github.com/nodejs/build/issues/1096. It seems a bit odd to have to have people who can't make it comment with justifications.

[2018-02-01 07:38] hashseed commented on #454
@Fishrock123 [here's](https://docs.google.com/presentation/d/1amWFe4-SHLAeG0jfKJCJIS2JBtN1gljgB0T3sAOqEuQ/edit?usp=sharing) the clang presentation.

[2018-02-01 14:32] mhdawson commented on #478
Pull request for minutes https://github.com/nodejs/TSC/pull/480

[2018-02-01 17:11] Trott commented on #478
We usually close these once the PR for minutes is in, I think, so I'm going to close this. Feel free to re-open if that's a mistake.

[2018-02-01 17:11] #478 closed

[2018-02-01 22:48] Trott commented on #301
2FA for the entire org has been enabled.

[2018-02-01 22:48] #301 closed

[2018-02-01 22:50] bnb commented on #301
@Trott How many members were removed because of this (assuming that's how it works).

[2018-02-01 23:06] freenice12 commented on #301
I have got a mail remove from nodejs. It notices me that enable 2FA.
Didn't check this issue as well.
So, how can i join again nodejs member?

[2018-02-01 23:21] timdp commented on #301
Yeah, that's definitely how it works. I just got my broken phone back earlier today and after an hour of use, it turned out it was still broken. As a consequence, I temporarily turned off 2FA on many of my accounts. That unfortunately coincided with the enforcement of the policy, which I fully support and which I've actually been pushing at our own company as well, by the way.

@Trott Please show

[2018-02-02 04:34] suensummit commented on #301
@Trott @bnb @freenice12 Same here.
Is there any way to rejoin nodejs member?

[2018-02-02 13:32] hashseed commented on #454
I created a [summary](https://docs.google.com/document/d/1Iw0i8wIrzoc_32gfAw9aAhluS9fsMs9xWwL7tu46K_g/edit#).

[2018-02-02 13:44] #454 closed

[2018-02-03 04:04] TimothyGu commented on #465
This should be closed.

[2018-02-03 04:18] joyeecheung commented on #465
Closed by https://github.com/nodejs/TSC/pull/468

[2018-02-03 04:18] #465 closed

[2018-02-03 07:01] xudafeng commented on #301
@Trott 2FA is enabled, how to rejoin nodejs org?

[2018-02-03 17:27] Trott commented on #301
@freenice12 I've sent you an invitation to rejoin nodejs-ko team. If you have 2FA enabled, you can accept the invitation. If you don't have 2FA enabled, you can enable it first and then accept the invitation.

[2018-02-03 17:30] Trott commented on #301
@timdb I've sent you an invitation to rejoin nodejs-nl.  If you have 2FA enabled, you can accept the invitation. If you don't have 2FA enabled, you can enable it first and then accept the invitation.

[2018-02-03 17:31] kapouer commented on #301
Same here, i've been kicked out. I enabled 2FA since. I don't need to be part of nodejs org. Maybe it's useful to remind collaborators of my involvement.

[2018-02-03 17:31] timdp commented on #301
@Trott Thanks!

[2018-02-03 17:34] Trott commented on #301
@suensummit I've sent you an invitation to join the nodejs-tw team. If you have 2FA enabled, you can accept the invitation. If you don't have 2FA enabled, you can enable it first and then accept the invitation.

[2018-02-03 17:36] Trott commented on #301
@xudafeng I've  sent you an invitation to rejoin nodejs-cn. If you have 2FA enabled, you can accept the invitation. If you don't have 2FA enabled, you can enable it first and then accept the invitation.

[2018-02-03 17:37] kapouer commented on #301
@Trott thank you !

[2018-02-03 17:38] Trott commented on #301
@kapouer I've sent you an invitation to rejoin the platform-freebsd team. If there are other teams you should be on, let me know. Thanks!

[2018-02-03 19:00] suensummit commented on #301
@Trott Thanks!

[2018-02-04 08:43] detailyang commented on #301
@Trott
I had send the email to you, how can i rejoin the node.js team ?
Many thanks:)

[2018-02-04 11:38] artcygn commented on #301
@Trott 2FA is enabled, how to rejoin nodejs?

[2018-02-04 15:57] harshadsabne commented on #301
@Trott Please let me know about the process to rejoin node.js. I have enabled 2FA.

[2018-02-05 11:52] ramimoshe commented on #301
@Trott 2FA is enabled, how to join nodejs org?

[2018-02-05 14:05] mhdawson opened #484 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-02-07"
## Time

**UTC Wed 07-Feb-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Feb-2018 14:00 (02:00 PM) |
| US / Mountain | Wed 07-Feb-2018 15:00 (03:00 PM) |
| US / Central  | Wed 07-Feb-2018 16:00 (04:00 PM) |
| US / Eastern  | Wed 07-Feb-2018 17:00 (05:00 PM) |
| London        | Wed 07-Feb-2018 22:00 (10:00 PM) |

[2018-02-05 14:32] mhdawson commented on #484
@BridgeAR  would you be able to attend the meeting to help the discussion on doc: document asserts Weak(Map|Set) behavior [#18248](https://github.com/nodejs/node/pull/18248)

@TimothyGu, would you be able to attend the meeting to help the discussion on  src: delete proccess.env values set to undefined [#18158](https://github.com/nodejs/node/pull/18158)

[2018-02-05 14:52] BridgeAR commented on #484
@mhdawson yes, I would like to attend.

[2018-02-05 15:48] mhdawson commented on #484
@BridgeAR sent uberconference info through email

[2018-02-05 18:16] TimothyGu commented on #484
Unfortunately I will not be able to make it to the meeting, though an hour earlier **or** later would work. I hope @BridgeAR and @Fishrock123 will be able to carry through my message in https://github.com/nodejs/node/pull/18158#pullrequestreview-90876932 to the meeting.

[2018-02-05 18:37] cjihrig commented on #484
I've removed the TSC agenda label from https://github.com/nodejs/security-wg/issues/103. It can be removed from this week's agenda.

[2018-02-05 18:49] Trott commented on #301
@kapouer It unfortunately does not appear to be a terribly active team (last commit to the nodejs-fr repo was October 2015), but I've added you. Maybe it will get going again soon. This issue was opened in October 2017: https://github.com/nodejs/nodejs-fr/issues/88

[2018-02-05 18:50] Trott commented on #301
@detailyang You should now have an invitation in GitHub for the website team. Thanks.

[2018-02-05 18:51] Trott commented on #301
@artcygn You should now have an invitation in GitHub to rejoin nodejs-ru. Thanks.

[2018-02-05 18:53] Trott commented on #301
@harshadsabne You should now have an invitation in GitHub to rejoin nodejs-hi. Thanks.

[2018-02-05 18:54] Trott commented on #301
@ramimoshe Your username is not showing up as one of the usernames that was removed. If you know what team you were a member of or wish to be a member of, you can request membership.

[2018-02-05 19:15] Trott opened #485 "Nominating Timothy Gu"
@addaleax and others wish to nominate @TimothyGu to the TSC, so here's an issue to get that going.

Timothy, we'll invite you as a non-voting participant/observer for the next few meetings. If you think you are more likely to miss meetings than be able to attend due to scheduling conflicts or anything else, let's talk a bit. It might be time to re-evaluate the meeting times anyway. (I try to do it

[2018-02-05 19:17] Trott commented on #485
I guess it's traditional to leave a lengthy list of the person's accomplishments with the nomination. Timothy has been a huge help with newcomers, has done fantastic work on the WHATWG-URL stuff, is more into reading specs than most of us, has been involved in Code + Learn events, and has done a bunch more that I'm leaving out.

Maybe instead of a parade of `+1` comments, people can instead leave

[2018-02-05 19:49] ram-you commented on #301
Hi @Trott , I would like to join nodejs-fr team. Thank you.

[2018-02-05 19:58] Trott commented on #301
@nodejs/community-committee You folks are looking at the localization groups and how to manage them, right? If so, is there an agreed-upon procedure for joining a localization team? I'm not sure if it's consistent across teams or not. I've typically taken the approach that if you're already a member of some other team and want to join a localization team, then hey, sure fine. But I should obviousl

[2018-02-05 20:01] Trott commented on #301
@ram-you Done. Everyone else: I may not honor further requests to join new localization teams pending some [feedback from Community Committee about how it works these days](https://github.com/nodejs/community-committee/issues/239).

[2018-02-05 21:36] mhdawson opened #486 "Time to charter the security working group"
The security working group has been up and running for quite some time now.  I'm wondering if people think it might be time to formally charter it ?

[2018-02-05 21:37] mhdawson commented on #484
@cjihrig done.

[2018-02-06 00:08] TimothyGu commented on #485
I am honored to be nominated to the TSC! Excited to do what I can to help make Node.js a better project.

[2018-02-06 00:50] Trott commented on #484
I'm going to miss the first half of the meeting due to a scheduling conflict with a work meeting.

[2018-02-06 09:09] mcollina commented on #486
I am 👍 to chartering with the responsibilities defined in the README.

[2018-02-07 11:35] fhinkel opened #487 "TSC Meeting 2/14/2018"
I can't chair the 2/14 meeting because I'm traveling. If we move it 2 hours back, I can participate.

We cancelled the last meeting that was at this time slot, there were just not enough people there. Can we reconsider moving this meeting time? (I know, we talked about this 2 month ago...)

[2018-02-07 12:05] fhinkel commented on #470
Closing, I believe this was discussed [here](https://github.com/MylesBorins/proposal-top-level-await) (Please re-open if closed in error.

[2018-02-07 12:05] #470 closed

[2018-02-07 12:16] mcollina commented on #487
I will be traveling as well and unable to join. I propose to skip.

[2018-02-07 16:50] Trott commented on #487
I will also be very unlikely to make this one. I would love to look at moving the meeting times again since we have added a member and removed another member since the last time, so that's likely to change things.

@gibfahn Can you fill out your column in the spreadsheet? I sent the URL and some explanatory text in email to your gmail account. Let me know if you have any questions!

[2018-02-07 17:07] rvagg commented on #487
I'll be on Pacific time for this so won't be attending either.

[2018-02-07 17:11] rvagg commented on #484
I thought I was going to make 1/2 of this but just had an important meeting thrown at me in this slot so I'll have to skip.

The arm_version issue can be removed, it's been closed for now. And I'm abstaining from the package.json one. Strategic initiatives OpenSSL is in progress, there's a PR in this repo but I haven't pushed anything to it since last week (although I've fixed the mentioned nits i

[2018-02-07 17:16] Trott commented on #484
My proposed solution to the package.json issue is: Land https://github.com/nodejs/node/pull/18270, then land https://github.com/nodejs/node/pull/18593 as a semver-major (although that one seriously needs some more reviews), and then @bmeck will open a pull request to cache negative results for `main`.

@bmeck is (based on my understanding of our conversations at least) on board with that approach.

[2018-02-07 22:10] mhdawson commented on #484
Meeting will be starting soon, Francisca is just setting up youtube stream.

[2018-02-07 22:25] Trott commented on #484
No significant Moderation Team activity this week.

[2018-02-07 23:57] mhdawson commented on #484
PR for minutes https://github.com/nodejs/TSC/pull/488

[2018-02-07 23:57] #484 closed

[2018-02-07 23:58] mhdawson commented on #487
As usual, I won't be able to make it.

[2018-02-08 00:00] cjihrig commented on #487
I'm also unable to attend.

[2018-02-08 16:47] Fishrock123 commented on #487
Is this the early time slot? If so, I can’t make it.

Otherwise, I could chair / stream (but not take notes)

[2018-02-08 16:48] Fishrock123 commented on #484
Sorry I didn’t make it to this - I’m away from home and forgot yesterday morning. :/

[2018-02-08 16:50] Fishrock123 commented on #476
Couldn’t that just be a continuous agenda item rather than a separate issue?

[2018-02-08 17:17] MylesBorins commented on #476
@Fishrock123 yup, could be worked into the tool. For example we didn't land this, and I forgot to update the committee yesterday 😓

[2018-02-08 17:38] richardlau commented on #485
I opened a [pull request](https://github.com/mhdawson/create-node-meeting-artifacts/pull/9) against Michael's [create-node-meeting-artifacts](https://github.com/mhdawson/create-node-meeting-artifacts) tool to add @TimothyGu as an observer to the TSC meetings.

[2018-02-08 18:55] joyeecheung opened #489 "A new onboarding team"
We have discussed in a recent TSC meeting about getting more people involved with the onboarding work. I propose that we create a new onboarding team and use the discussion page to coordinate work there.

I think the initial members will be me, @Trott @addaleax , and probably @mcollina . Does this SGTY?

[2018-02-08 20:07] mhdawson commented on #489
STGM

[2018-02-08 20:08] mhdawson commented on #476
A tracking issue is the easiest, as we simply label and then it shows up in the agenda

[2018-02-08 20:08] mhdawson commented on #487
@Fishrock123 it is the early slot.

[2018-02-08 20:56] mcollina commented on #489
SGTM!

[2018-02-09 09:14] fhinkel commented on #485
big +1 for fearlessly digging into V8 interceptors :heart: Happy to have you on the TSC soon.

[2018-02-09 10:47] joyeecheung commented on #489
I have already created @nodejs/onboarding . Closing..

[2018-02-09 10:47] #489 closed

[2018-02-10 02:07] ChALkeR opened #490 "Move Gzemnid into the org"
Refs: https://github.com/nodejs/node/issues/7935

[Gzemnid](https://github.com/ChALkeR/Gzemnid) is the tool which I use to build grep-able datasets from the latest versions of all packages in npm registry. I would like to see it moved to the org.

Previous resolution was to

But I think that I never understood what _exactly_ does the first point mean and this got stuck because of that, so moving t

[2018-02-10 02:10] devsnek commented on #490
perhaps we could also spin up a small server for people to use, seeing as the functionality exists.

[2018-02-10 02:16] ChALkeR commented on #490
@devsnek A server for online usage would require some more work (mostly usability/auth related), but a server would also be useful to keep the dataset up-to-date.

It is now hosted on my €10 vps, and I would like to be moved it somewhere else :wink:.

As for API/interface for making it usable over https — I think that the best way forward would be to integrate GitHub auth, like we do for the CI.

[2018-02-10 19:12] Fishrock123 commented on #487
Ah, yeah I won't be able to attend.

[2018-02-10 19:15] TimothyGu commented on #466
Now that @gibfahn is officially a member, I think this could be closed.

[2018-02-10 21:30] #466 closed

[2018-02-12 14:05] mhdawson opened #491 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-02-14"
## Time

**UTC Wed 14-Feb-2018 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Feb-2018 04:00 (04:00 AM) |
| US / Mountain | Wed 14-Feb-2018 05:00 (05:00 AM) |
| US / Central  | Wed 14-Feb-2018 06:00 (06:00 AM) |
| US / Eastern  | Wed 14-Feb-2018 07:00 (07:00 AM) |
| London        | Wed 14-Feb-2018 12:00 (12:00 PM) |

[2018-02-12 14:18] gibfahn commented on #491
@mhdawson looks like the TSC list here is
 a little out of date (includes some emeritus members). Might be useful to use [ncu-team](https://github.com/nodejs/node-core-utils/blob/master/docs/ncu-team.md) to generate the list of members.

[2018-02-12 14:26] richardlau commented on #491
a little out of date (includes some emeritus members). Might be useful to use ncu-team to generate the list of members.

Maybe submit a pull request to https://github.com/mhdawson/create-node-meeting-artifacts? The list as currently us is here: https://github.com/mhdawson/create-node-meeting-artifacts/blob/master/templates/invited_tsc

[2018-02-12 15:08] gibfahn commented on #490
LGTM

Sounds good, but separate from moving it into the foundation (which we should probably do first).

[2018-02-12 15:17] fhinkel commented on #491
I think this meeting will be cancelled? See https://github.com/nodejs/TSC/issues/487

[2018-02-12 15:17] gibfahn opened #492 "Move make-node-meeting-artifacts into the foundation"
[mhdawson/make-node-meeting-artifacts](https://github.com/mhdawson/create-node-meeting-artifacts) is pretty useful, and is currently used in the TSC and Build repos (and probably others).

It may be too soon (I defer to @mhdawson on that) but we should probably think about bringing it into the foundation.

[2018-02-12 16:09] mcollina commented on #490
LGTM

I was wondering if we need a separate server at all. Can we run it as a cron job in our jenkins infrastructure and upload it somewhere that's easy to pull from?

[2018-02-12 16:20] mcollina commented on #492
LGTM

[2018-02-12 16:21] mcollina commented on #491
I propose to cancel.

[2018-02-14 11:57] targos commented on #491
Is it officially cancelled?

[2018-02-14 12:11] targos commented on #491
Looks like it is!

[2018-02-14 12:11] #491 closed

[2018-02-15 17:09] mhdawson commented on #492
I had been meaning to open this issue had just not gotten to it yet :).  It is generating the artifacts for a number of WGs and the TSC and CommComm meetings and its time to move over.

After that happens the next step would be to look at moving over the automation I have to actually run at the right interval.

[2018-02-15 17:11] mhdawson commented on #487
Closing, meeting was canceled.

[2018-02-15 17:11] #487 closed

[2018-02-15 17:17] mhdawson commented on #490
@ChALkeR "Prep repo for migration." means adding the required governance files so that when its moved over they are present:

These include:
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENCE.md
README.md

[2018-02-16 00:57] Trott commented on #492
Unfortunately, [the GitHub management policy](https://github.com/nodejs/TSC/blob/a942ad62a8c155010724ec2b12156ec284a64669/GitHub-Org-Management-Policy.md) still says this:

It also strongly implies that this needs to go in the admin repo rather than the TSC repo.

I would strongly support a PR that altered policy to reflect our current practice. If we want to change that practice, let's actually r

[2018-02-16 00:58] Trott commented on #490
This might not apply due to the previous issue, not sure, but unfortunately, [the GitHub management policy](https://github.com/nodejs/TSC/blob/a942ad62a8c155010724ec2b12156ec284a64669/GitHub-Org-Management-Policy.md) still says this:

It also strongly implies that this needs to go in the admin repo rather than the TSC repo.

I would strongly support a PR that altered policy to reflect our current

[2018-02-16 22:45] MylesBorins opened #493 "What does "success" look like"
Hey All.

At the moment it does not seem like we have a good definition of what a "successful" TSC member looks like. This ambiguity makes it hard to self-assess and effects our ability to nominate candidates who are likely to be successful.

I think that we should brainstorm, and likely document, what the criteria for success are.

[2018-02-16 23:13] mhdawson commented on #493
Sounds reasonable to me.

Two things I'd start the list off with is participation in one or more working groups and/or strategic initiatives and consistent involvement in the TSC discussions through one or more of email/github/meetings.

This may not quite be the right way to document as we may want to document more through outcomes versus actions, but we can probably re-write them with that viewp

[2018-02-17 00:12] Trott commented on #493
@MylesBorins Are you talking about criteria for a TSC nominee or a member? First sentence suggests member and @mhdawson's reply seems to assume that (since there's no way for someone else to have consistent involvement in TSC email threads). But your second sentence seems to suggest nominees.

For nominees, my sole criteria: A track record of *constructive* engagement in the project.

[2018-02-17 00:19] Trott commented on #493
For nominees, my sole criterion: A track record of constructive engagement in the project.

(Felt like that warranted being in a comment by itself. Sorry for the repetition.)

[2018-02-17 00:21] jasnell commented on #492
SGTM. The most likely best home for this, however, is the @nodejs/automation WG

[2018-02-17 00:22] jasnell commented on #490
SGTM. The most likely best home for this is under the @nodejs/automation team

[2018-02-17 00:22] jasnell commented on #486
+1 to chartering.

[2018-02-17 00:25] jasnell commented on #474
Given that there have been no objections to this, we should consider it accepted.

[2018-02-17 00:27] maclover7 commented on #490
@ChALkeR Can you open up an issue at nodejs/build explaining the computing resources necessary to use the tool? It might make sense to sort that out first before going forward.

[2018-02-17 00:29] jasnell commented on #474
@vdeturckheim ... I have added you to the security-triage team and added you to the member list for the nodejs-security private repository. Please remember to be diligent about maintaining the confidentiality of issues and patches discussed in the private security repositories.

[2018-02-17 00:30] #474 closed

[2018-02-17 00:31] jasnell commented on #467
The discussion here appears to have stalled out. Is there reason to keep this open?

[2018-02-17 00:31] jasnell commented on #464
This discussion appears to have stalled out. What is the next step?

[2018-02-17 00:32] jasnell commented on #443
The repo has been moved to the nodejs github org. I believe we can close this now.

[2018-02-17 00:32] #443 closed

[2018-02-17 00:33] jasnell commented on #442
Discussion here appears to have stalled out. Is there a next step or can we close this?

[2018-02-17 00:34] jasnell commented on #440
@ZibbyKeaton ... Thank you for organizing this. Perhaps pushing this through the community committee will be more effective as it does not appear to have generated much response on this side. Going to go ahead and close this issue for now.

[2018-02-17 00:35] #440 closed

[2018-02-17 00:35] jasnell commented on #340
Discussion here appears to have stalled. Is there a next step or can we close this issue?

[2018-02-17 00:35] jdalton commented on #442
The issue should probably have been closed because the necessary actions were taken (as referenced to the many PR links).

[2018-02-17 00:36] #442 closed

[2018-02-17 00:36] jasnell commented on #344
This discussion has largely been taken over by the @nodejs/security-wg. As there does not appear to be anything further to discuss in this thread, closing.

[2018-02-17 00:36] #344 closed

[2018-02-17 00:37] jasnell commented on #351
Closing as there does not appear to be support for this proposal.

[2018-02-17 00:37] #351 closed

[2018-02-17 00:37] jasnell commented on #353
The discussion appears to have stalled. What is the next step here?

[2018-02-17 00:38] jasnell commented on #358
The discussion here has stalled. Is there a next step or can we close this?

[2018-02-17 00:39] jasnell commented on #364
This discussion appears to have stalled. Is there a next step or can we close this?

[2018-02-17 00:40] jasnell commented on #365
A mentorship program has been initiated under the community committee. There does not appear to be anything further here to discuss. Can we close this?

[2018-02-17 00:40] jasnell commented on #366
What is the current status on this?

[2018-02-17 00:41] jasnell commented on #382
Apparently this is going no where.

[2018-02-17 00:41] #382 closed

[2018-02-17 00:42] jasnell commented on #383
This appears to have stalled. Closing for now. Can reopen if any progress is made on moving forward on this.

[2018-02-17 00:42] #383 closed

[2018-02-17 00:42] jasnell commented on #389
This discussion appears to have stalled. Is there reason to keep this open?

[2018-02-17 00:44] jasnell commented on #401
@mcollina ... as a next step for this, perhaps an update to the documentation in the main repo would be better. This issue likely can be closed.

[2018-02-17 00:44] #401 closed

[2018-02-17 00:44] jasnell commented on #411
Is there a next step here? Or can this issue be closed?

[2018-02-17 00:45] jasnell commented on #438
Is there a next step here or can this be closed?

[2018-02-17 00:46] jasnell commented on #337
This appears to have stalled. Is there a next step or can this be closed?

[2018-02-17 00:46] jasnell commented on #311
This appears to have stalled. Is there a next step or can this be closed?

[2018-02-17 00:47] jasnell commented on #296
This is being picked up by security-wg. Closing.

[2018-02-17 00:47] #296 closed

[2018-02-17 00:47] jasnell commented on #292
Is there a next step here or can this be closed?

[2018-02-17 00:47] jasnell commented on #284
Is there a next step here or can this be closed?

[2018-02-17 00:48] jasnell commented on #268
Is there a next step here or can this be closed?

[2018-02-17 00:49] jasnell commented on #257
Is there a next step here or can this be closed?

[2018-02-17 00:49] jasnell commented on #195
Recommending that we just close this given that there's been zero activity and movement.

[2018-02-17 00:50] jasnell commented on #321
It does not appear that there is anything further to do here.

[2018-02-17 00:50] #321 closed

[2018-02-17 00:51] bmeck commented on #340
@jasnell I've never gotten a clear statement on if we want to continue to block the language level feature still. It seems ok to close, but I suspect this issue will continue to be raised at a language level.

[2018-02-17 00:53] jasnell commented on #340
yeah, I doubt this issue is going to be enough to get the existing TSC membership organized enough to form a coherent opinion. If there is forward movement on the zones proposal, we can review at that time, I suppose.

[2018-02-17 00:53] jasnell commented on #442
@jdalton +1

[2018-02-17 00:54] bmeck commented on #340
@jasnell there is no momentum / Zones is stalled due to block from Node on Error handling ( https://github.com/domenic/zones/issues/9 ), the champion sees Error handling as mandatory to move forward.

[2018-02-17 01:00] jasnell commented on #340
Ok, how about sometime in the next few months we queue this back up for a more active TSC discussion?

[2018-02-17 01:01] devsnek commented on #292
if it makes any difference, i actually just bought an irccloud subscription specifically for keeping up with node channels, so a definite +1 to getting some accounts budgeted.

[2018-02-17 02:37] srl295 commented on #353
@jasnell did it? What's left to do? I have a PR https://github.com/nodejs/Intl/pull/47 to redirect to i18n, and I'm going to go over the rest of the Intl issues and refile…

[2018-02-17 06:01] Trott commented on #358
This was handled by the security WG.  https://github.com/nodejs/security-wg/blob/master/processes/security_team_membership_policy.md

[2018-02-17 06:01] #358 closed

[2018-02-17 06:08] Trott commented on #486
This hasn't happened yet? Oh, yes, let's do it if they have all the necessary docs in order.

[2018-02-17 06:09] Trott commented on #438
Seems closable now that #439 landed.

[2018-02-17 06:09] #438 closed

[2018-02-17 06:14] TimothyGu commented on #366
The deadline for application has long passed, so this is definitely not happening.

[2018-02-17 06:14] Trott commented on #284
@jasnell Yes, a next step (might be considered scope creep, but I'm OK with it) is to make all relevant teams subteams of the members team so that there aren't individual members of the members team.

I have that on my TODO list although if someone beats me to it, awesome. I think it was @targos's idea.

[2018-02-17 06:28] Trott commented on #284
FYI, I've made @nodejs/hardware a subteam of the nodejs/members team and removed the people on the hardware team as direct members of the members team. (They are still members of the members team due to hardware being a subteam of members.)

Hopefully they didn't get any misleading notifications about being removed from the members team. (Can you hardware folks let me know?) If not, then we can mo

[2018-02-17 06:29] #366 closed

[2018-02-17 07:00] hashseed commented on #411
Guess next steps will have to happen when upgrading to V8 6.6.

[2018-02-17 07:01] hashseed commented on #464
I might experiment with this some time. Not high priority for me though due to lots of other things going on.

Let's close this for now.

[2018-02-17 07:01] #464 closed

[2018-02-17 09:01] vdeturckheim commented on #474
@jasnell thanks a lot!

[2018-02-17 13:51] dtex commented on #284
I did get the misleading notification, but I also got the notification on this issue.

[2018-02-17 14:06] ljharb commented on #389
Yes; it’s still pending a PR. I’d say it needs to remain open until the next new core module pops up, or, until we decide to definitively or definitely not go with this proposal.

[2018-02-17 15:36] jasnell commented on #353
The conversation in this thread did at least :-) Since there is actively happening elsewhere in the org, does this specific issue need to stay open?

[2018-02-17 17:34] srl295 commented on #353
Aha.

 #353 can close

[2018-02-18 15:54] MylesBorins commented on #493
@Trott Both

I think that by defining a successful TSC member we can help to better determine what makes a good candidate

[2018-02-18 21:07] cjihrig commented on #353
Thanks @srl295, I'll close this.

[2018-02-18 21:07] #353 closed

[2018-02-18 21:36] ChALkeR commented on #364
Sigh… FIPS is harmful and it's sad that we need to spend time/resources because of it. I understand why we would want to keep support it, though.

BoringSSL is not an option not only because of compat, but also because it doesn't give _any_ API/ABI stability guarantees. The same probably affects support/backporting — there might be none.

[2018-02-18 23:36] jasnell commented on #364
This makes me wonder if we shouldn't invest some effort into a stable N-API ABI stability layer that covers the openssl API surface area. Yes, it would be a pain in the ass to make sure it keeps up to date but it would shield us from these kinds of problems in the future.

[2018-02-19 00:22] MylesBorins commented on #195
This is still being discussed by the legal team afaik. Maybe @mrhinkle can
give us an update on the 28th meeting

On Fri, Feb 16, 2018, 7:49 PM James M Snell <notifications@github.com>
wrote:

[2018-02-19 03:56] gibfahn commented on #268
Given that @othiym23 and @aredridel are happy to continue maintaining it, it is useful, and we haven't (AFAIK) had complaints, why not leave it as it is?

If someone wants to push for it to be brought into the foundation then that seems reasonable too, but otherwise I think this can be closed.

[2018-02-19 05:38] bnb commented on #292
I would like to see this move forward if at all possible. I'm going to add the cc-agenda label to discuss in the next CommComm meeting.

[2018-02-19 14:05] mhdawson opened #494 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-02-21"
## Time

**UTC Wed 21-Feb-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Feb-2018 09:00 (09:00 AM) |
| US / Mountain | Wed 21-Feb-2018 10:00 (10:00 AM) |
| US / Central  | Wed 21-Feb-2018 11:00 (11:00 AM) |
| US / Eastern  | Wed 21-Feb-2018 12:00 (12:00 PM) |
| London        | Wed 21-Feb-2018 17:00 (05:00 PM) |

[2018-02-19 14:08] Trott commented on #494
Removing #17062. It was referred to the Release WG. Looks like it's only on the agenda because nobody removed the tsc-agenda label.

[2018-02-19 14:13] Trott commented on #494
(Also removing @mscdex and @indutny. Can you update your template, @mhdawson?)

[2018-02-19 14:17] Trott commented on #494
I'd like to find a different way to handle regular updates that doesn't involve tracking issues that are permanently on the agenda. Having permanent agenda items perpetuates the idea that the meetings are where things happen and where things should happen. In reality, the meeting should be the last resort for anything. We should strive for needing fewer meetings, not latch onto the meeting as an e

[2018-02-19 14:34] Trott commented on #494
Last time, we deferred acting on https://github.com/nodejs/node/pull/18158 until we could have @TimothyGu  at a meeting. But I don't think this time slot works for him. In fact, it's possible none of the current time slots work for him, although he indicated that his schedule will be changing several weeks from now.

So that brings up a few things:

* Do we want to schedule something at a differen

[2018-02-19 14:40] Trott commented on #494
TL;DR on that last comment I left:

I left a comment at https://github.com/nodejs/node/pull/18158#issuecomment-366711907 asking for there to be some GitHub dialogue before the TSC takes this up.

[2018-02-19 14:43] Trott commented on #494
I acknowledge that [this comment](https://github.com/nodejs/TSC/issues/494#issuecomment-366705737) is an example of the irksome practice of raising a problem without offering a solution. I apologize for that. Uh...solutions...maybe we can have a cron job open an issue in the main issue tracker periodically that @-mentions all the people who should be supplying updates etc.? For example, it could b

[2018-02-19 14:55] benjamingr commented on #494
@Trott I appreciate you doing this and honestly I don't think that that particular PR is a good case study or that people have strong feelings about it. There weren't any strong feelings (at least that I saw), the facts are pretty well known and it has mostly stagnated. Taking things up to the TSC (for a vote) is _a_ way to deal with stagnation - another way is to default to not landing things.

I

[2018-02-19 14:57] mcollina commented on #494
I’m traveling this week and I might not be able to attend.

[2018-02-19 15:00] Trott commented on #494
https://github.com/nodejs/node/pull/18131 was put on the agenda by @jasnell (https://github.com/nodejs/node/pull/18131#issuecomment-357726481).

It's not clear to me if he meant a "possible vote" on the issue as a whole, or on the issue of filtering vs. not filtering. (@jasnell, can you clarify?)

Seems like discussion there is still pretty robust so I wonder if it should be taken off the agenda f

[2018-02-19 15:04] jasnell commented on #494
It should be ok to remove that one from the agenda

[2018-02-19 18:50] othiym23 commented on #268
It can take up to 12 hours for posts to get approved, or on the rare occasions where both @aredridel and I have our attentions elsewhere, maybe 24 hours. I think by and large posters are just surprised that messages don't go through instantly.

I'd be happy to add additional moderators should anyone else want to help out, but the level of activity is low enough, and the timeliness of the vast majo

[2018-02-19 20:43] mhdawson commented on #494
Should we remove nodejs/node#18158 (comment) from the agenda.  I agree that there is no urgent reason for the TSC to make a decision as there does not seem to be anybody strongly pushing for the change.

[2018-02-19 20:47] mhdawson commented on #494
In terms of standing issues, I think we don't have to cause ourselves a lot of work by coming up with a new way to generate them.  Instead we should just treat them as being on the agenda unless there are no other  issues (ie we can cancel them if they are the only issues on the agenda).   Having said that if somebody else has time to put in the effort to automate a better way of handling them the

[2018-02-19 20:50] mhdawson commented on #364
@rvagg is the champion for the strategic initiative to figure this out so I'm not sure we need this issue anymore.

[2018-02-19 20:53] mhdawson commented on #486
I'll add it to my list of TODOs to get the docs in order and get it chartered

[2018-02-19 20:55] mhdawson commented on #257
@nodejs/tsc any TSC objections to this moving forward ?  If not I'll ask Ben to start the processes of adding the required governance docs so we can move over.

[2018-02-19 20:56] mhdawson commented on #365
I'd agree we should handle under the mentorship program and close this issue.  @MylesBorins you ok if we close ?

[2018-02-19 20:57] mhdawson commented on #467
There is another issue where this is actively being discussed and my next step is to open a PR.  Once I have time to do that I'll link the 2 together and close this one.

[2018-02-19 21:38] cjihrig commented on #257
It's still not clear to me why we need the heapdump module under the foundation when the `inspector` module in core can do the same thing? Is it OOM scenarios? If so, how are the two different? I'm not trying to block it, I just want to understand.

[2018-02-20 02:05] Trott commented on #494
We are prohibited from doing that.  From https://github.com/nodejs/node/blob/master/GOVERNANCE.md#tsc-meetings:

So unless @mcollina removes it (since he's the one who put it on the agenda in the first place), it must be on the agenda this week.

What we *can* do is generate consensus ahead of time that we're declining to act on it at this time (so it can be mentioned briefly in the meeting and ev

[2018-02-20 02:11] Trott commented on #257
According to [our current policy](https://github.com/nodejs/TSC/blob/845af1ff81e7b904ab02604cd3ffc217ffd01bb9/GitHub-Org-Management-Policy.md), this cannot happen without a vote by both the TSC and CommComm:

Honestly, you might be best served by opening a PR to change the policy rather than following the policy. I think a reasonable policy would be to open an issue in the admin repo, ping TSC and

[2018-02-20 07:43] mcollina commented on #494
https://github.com/nodejs/node/pull/18158 is well described. IMHO It does not need a champion, it just need a vote called on. I don’t think there is much to discuss. If we don’t call for a vote, that is going to sit there for a few months, and there cannot be consensus in this case (either we do it or we do not). May I open a voting issue?

[2018-02-20 07:45] mcollina commented on #494
Consider my above comment the reason not to hold this meeting if it’s the only item in the agenda. Let’s open a vote for a couple of weeks.

[2018-02-20 07:48] mcollina commented on #257
SGTM

[2018-02-20 11:19] joyeecheung commented on #257
@Trott PR opened in https://github.com/nodejs/TSC/pull/495

[2018-02-20 12:55] evanlucas commented on #486
+1 to chartering

[2018-02-20 14:14] mcollina commented on #486
+1 to chartering

[2018-02-20 15:37] joyeecheung commented on #486
SGTM

[2018-02-20 18:30] Fishrock123 commented on #492
Sounds good to me, and also agree about putting it under the automation team.

[2018-02-20 18:54] Trott commented on #492
Just to be clear:

**This cannot happen without a TSC vote and a CommComm vote.**

(See https://github.com/nodejs/TSC/issues/492#issuecomment-366113635 if you're not sure why that is. IMO, that portion of the policy is misguided and should be changed, but for now, it's the policy.)

[2018-02-20 19:07] Trott commented on #494
Sounds like as of now the meeting is cancellable. I suggest we cancel it now rather than try to accommodate last-minute items on the agenda. Any items added can be on next week's agenda or else handled in GitHub if possible.

[2018-02-21 03:01] MylesBorins commented on #494
Would people be open to doing a shorter meeting where we simply do an update on strategic initiatives? Seems like a good piece of content to share with community

[2018-02-21 05:42] targos commented on #494
I don't mind doing that

[2018-02-21 07:33] mhdawson commented on #494
I'm going doing a short meeting or cancelling.

Link to zoom conf for attendees.  Will send password to TSC email.

https://zoom.us/j/315209925?pwd=aeCmmUz1mQCwIumekTziMw

YouTube link will be added as broadcast starts as I don't think I can do that in advance with zoom.

[2018-02-21 15:41] Fishrock123 commented on #494
Short meeting sounds fine to me.

[2018-02-21 15:43] jasnell commented on #494
If there's a meeting, I (and likely @mcollina) won't be making it

[2018-02-21 16:13] MylesBorins commented on #292
ping @mrhinkle

[2018-02-21 17:06] mhdawson commented on #494
https://www.youtube.com/watch?v=KhM2MLcChOQ

[2018-02-21 17:13] Trott commented on #494
Report for @nodejs/moderation: No significant activity this month thus far. I'll amend this if there's anything else to add but I don't believe there is. /cc @nodejs/community-committee

[2018-02-22 03:46] rvagg commented on #364
yep, moved to #479 for now

[2018-02-22 03:46] #364 closed

[2018-02-23 04:50] williamkapke commented on #494
Today's meeting had a discussion about adding licenses. The TSC has requested that the Legal Committee review the topic and will be providing some feedback soon. We should hold off on adding new licenses until that information has been made public. PRs are OK- but lets not accept them just yet. Changing them after the fact _may_ not be possible!

See: https://github.com/nodejs/TSC/issues/195

[2018-02-23 04:53] richardlau commented on #494
^^ cc @nodejs/collaborators

[2018-02-26 14:05] mhdawson opened #496 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-02-28"
## Time

**UTC Wed 28-Feb-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Feb-2018 14:00 (02:00 PM) |
| US / Mountain | Wed 28-Feb-2018 15:00 (03:00 PM) |
| US / Central  | Wed 28-Feb-2018 16:00 (04:00 PM) |
| US / Eastern  | Wed 28-Feb-2018 17:00 (05:00 PM) |
| London        | Wed 28-Feb-2018 22:00 (10:00 PM) |

[2018-02-26 15:00] TimothyGu commented on #496
Again, I won’t be able to make it to this meeting due to a scheduling conflict.

[2018-02-26 20:11] Trott commented on #496
Note that https://github.com/nodejs/node/pull/18990 is an alternative to https://github.com/nodejs/node/pull/18158 so they can effectively be treated as a single issue.

https://github.com/nodejs/node/pull/18990 has multiple approvals and no rejections. It's also only been open for 22 hours. I don't think there's anything for the TSC to do there.

https://github.com/nodejs/node/pull/18158 was on t

[2018-02-27 12:16] mcollina commented on #496
I've removed tsc-agenda from both nodejs/node#18990 and nodejs/node#18158. nodejs/node#18990 is less contentious and it's probably going to land instead.

[2018-02-27 14:48] Trott commented on #496
OK, that leaves https://github.com/nodejs/TSC/pull/479 as the only non-recurring TSC agenda item this time (other than @mrhinkle telling us about Foundation stuff).

It seems to me that @rvagg put https://github.com/nodejs/TSC/pull/479 on the agenda mostly for awareness and to expedite it. So far, it has no TSC approvals, although some have reviewed it.

Personal opinion only but my short list of

[2018-02-27 14:50] Trott commented on #496
Oh, @danbev is probably a good choice too, if they have time to do it.

[2018-02-27 14:53] Trott commented on #496
And @mcollina approve it just now! 🎉

[2018-02-27 17:09] bnb commented on #195
@MylesBorins I commented in https://github.com/nodejs/community-committee/issues/245, but the CommComm has several licenses pending on legal feedback and @williamkapke referenced this issue, though I think copyright discussed in this issue is likely different than licensing 🤔

[2018-02-27 17:14] de-tester opened #497 "CoC violation report review results(follow-up on #324)"
Could anyone please provide followup on what was the results of CoC report review opened in #324.

### Background

Code of Conduct violation report was received on Aug 28, 2017 it was closed on Aug 30, 2017 with comment.

On Sep 2, 2017 `tsc-review` label was removed.
No updated or changes were done to that ticket ever since.

[2018-02-27 18:41] Trott commented on #496
Added https://github.com/nodejs/node/pull/15346 to the agenda. Here's my relevant comment from that PR copy/pasted:

I'm adding `tsc-agenda` to this so we can talk about it at our meeting this week.

**The TSC has approved runtime-deprecating Buffer constructor in 10.0.0** 😱 but also 🤘 but also 😱...

That's not necessarily an approval of this specific implementation. People still need to review an

[2018-02-27 18:42] Trott commented on #496
(In case I'm not at the meeting: We need to talk about how to land it as soon as we can and get the word out as effectively as we can. Also, if there's things we need to do to help prepare the ecosystem, let's talk about what those things are.)

[2018-02-27 19:24] MylesBorins commented on #497
The TSC and CommComm both disclosed their decision regarding the report on the private collaborator moderation repo. As the reporter had communicated that they are a collaborator, this was considered a sufficient disclosure as per our [enforcement policy](https://github.com/nodejs/admin/blob/master/CODE_OF_CONDUCT.md#enforcement).

There are no plans for the project to further discuss this publicl

[2018-02-27 19:24] #497 closed

[2018-02-27 19:37] ryanmurakami commented on #497
Locking conversation

[2018-02-27 22:02] mhdawson commented on #496
Link for the meeting, will send password separately: https://zoom.us/j/349243116

[2018-02-27 22:06] mhdawson commented on #496
Updated invite list, was out of office last week and have not yet updated template.  Should be able to do that before next week.

[2018-02-27 22:32] mrhinkle commented on #496
Prosed Agenda for my part (about 10 minutes)

How can I help you?
* Travel funding
* Other resources like training conflict resolution training, Mediation team and beyond
* What community facilitation would you like to see from Node.js Foundation as we staff these resources.
* IRC cloud group license
* Update on the board subcommittee

How our legal committee works

* Foundation Legal Counsel - An

[2018-02-28 16:15] MylesBorins commented on #494
Closing as the meeting has happened

[2018-02-28 18:37] danbev commented on #496
I'm going to have to skip tonights meeting....got a bad cold and need to sleep.

[2018-02-28 19:47] fhinkel commented on #496
Same here 🤧 🤧

[2018-02-28 19:56] evanlucas commented on #496
I hope y’all feel better!

[2018-02-28 20:46] ChALkeR commented on #496
I won't be able to participate today (as documented in the spreadsheet :wink:), need to get up early tomorrow…

[2018-02-28 21:21] Trott commented on #494
Re-opening because we don't close the meeting issues until the minutes have been landed. (Don't think that's documented anywhere, but it's been our de facto process for as long as I'm aware.)

[2018-02-28 21:52] mhdawson commented on #494
PR for minutes: https://github.com/nodejs/TSC/pull/498

[2018-02-28 21:56] jasnell commented on #496
The emailed out password does not appear to be working for me

[2018-02-28 21:58] Fishrock123 commented on #496
Worked for me and some others?

[2018-02-28 21:58] mhdawson commented on #496
I see james is in now

[2018-02-28 22:06] mhdawson commented on #496
Link for those who want to watch https://www.youtube.com/watch?v=R2aZin_5tiY

[2018-02-28 22:07] mcollina commented on #496
I can't find the link to join.

[2018-02-28 22:07] targos commented on #496
@mcollina https://zoom.us/j/349243116

[2018-02-28 22:43] Trott commented on #496
Moderation Team update: Indefinitely blocked one user, see moderation repo issue 177 for details. Other than that, no activity.

[2018-02-28 22:45] Trott commented on #496
@nodejs/community-committee Pinging for the Moderation Team update above. Rather than having someone else make the same report to CommComm, I thought maybe I'd just @-mention CommComm here.

[2018-02-28 23:03] mhdawson commented on #496
PR for minutes: https://github.com/nodejs/TSC/pull/499

[2018-03-02 20:21] mhdawson commented on #467
This is the other issue: https://github.com/nodejs/admin/issues/59

[2018-03-02 20:51] mhdawson commented on #467
PR to add new team https://github.com/nodejs/node/pull/19098

[2018-03-05 14:05] mhdawson opened #500 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-03-07"
## Time

**UTC Wed 07-Mar-2018 12:00 (12:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 07-Mar-2018 04:00 (04:00 AM) |
| US / Mountain | Wed 07-Mar-2018 05:00 (05:00 AM) |
| US / Central  | Wed 07-Mar-2018 06:00 (06:00 AM) |
| US / Eastern  | Wed 07-Mar-2018 07:00 (07:00 AM) |
| London        | Wed 07-Mar-2018 12:00 (12:00 PM) |

[2018-03-05 17:44] MylesBorins commented on #500
I'm on the west coast this week and may not be able to make the 4am
meeting. Will update thread if I can make it.

On Mon, Mar 5, 2018 at 6:05 AM Michael Dawson <notifications@github.com>
wrote:

[2018-03-05 17:57] #494 closed

[2018-03-05 18:03] #496 closed

[2018-03-05 18:16] mhdawson commented on #500
Added zoom link https://zoom.us/webinar/221426990

[2018-03-05 18:18] mhdawson commented on #500
Samed password as last week for TSC members.

[2018-03-05 22:31] mhdawson opened #501 "Bring N-API out of experimental"
The criteria for bringing N-API out of experimental were discussed in the VM Summit last July and captured here: https://github.com/nodejs/abi-stable-node/issues/284.

The items where:
  * Multiple implementations of n-api on at least 2 VMs
    * Was already in place as N-API is implemented on V8 and Chakra core
  * Define N-API / async_hooks dependency
    * This was completed last August in http

[2018-03-05 22:38] mhdawson commented on #500
Adding https://github.com/nodejs/TSC/issues/501 for awareness.  Would like to discuss and if there are no objections submit PR to remove experimental status later in the week.

[2018-03-05 23:06] cjihrig commented on #501
+1. Thanks for all of the hard work on N-API.

[2018-03-05 23:10] jasnell commented on #501
+1

[2018-03-05 23:23] ofrobots commented on #501
I support this.

[2018-03-05 23:34] Trott commented on #500
Can someone point me to the documentation that suggests adding collaborators nominations to the tsc agenda? It's not in GOVERNANCE.md. Is it some recent-ish stuff that @joyeecheung wrote up maybe?

[2018-03-05 23:36] Trott commented on #500
Not sure if they're available or willing, but perhaps @seishun should be invited as a guest if we're going to talk about the Buffer constructor stuff?

[2018-03-05 23:45] mhdawson commented on #467
New team created under https://github.com/nodejs/admin/issues/59

@groundwater who all should be added? I've already sent you an invite.

[2018-03-05 23:48] mhdawson commented on #467
@Trott I did not make this team a child of members, based on the earlier discussion in the issue.

[2018-03-05 23:54] mcollina commented on #501
+1

[2018-03-06 00:06] Trott commented on #467
@mhdawson Sounds good to me.

[2018-03-06 04:41] rvagg commented on #501
+1

[2018-03-06 05:18] fhinkel commented on #501
+1

[2018-03-06 06:05] groundwater commented on #467
@mhdawson thanks, I've been re-added and accepted

Please add my team: @zcbenz @ckerr @zeke @codebytere @vanessayuenn @jkleinsc

Some non-GitHub Electron core committers include: @alexeykuzmin @MarshallOfSound @deepak1556 @nitsakh @felixrieseberg

[2018-03-06 15:37] fhinkel commented on #501
If there's no objections, moving N-API out of experimental doesn't need a TSC vote, right?

[2018-03-06 15:52] joyeecheung commented on #500
@Trott See https://github.com/nodejs/node/blob/master/doc/onboarding.md#one-week-before-the-onboarding-session

[2018-03-06 17:28] Trott commented on #501
@fhinkel Looking at our documented process in [GOVERNANCE.md](https://github.com/nodejs/node/blob/78a7536db30843f82252c97be91d2d0d7d38f84b/GOVERNANCE.md#tsc-meetings), we can skip a vote if we:

* @-mention @nodejs/tsc (<-- oh, look at that, I just did it)
* wait 72 hours
* get two or more LGTMs (I think the +1s count) and no objections

I think this should be removed from the meeting agenda, alth

[2018-03-06 17:48] fhinkel commented on #501
@Trott thanks for explaining. Definitely didn't want to rush it, just making sure we don't skip a vote if needed.

[2018-03-06 17:55] Trott commented on #501
71 hours and 35 minutes to go!  😄

[2018-03-06 17:58] Trott commented on #500
@joyeecheung Thanks!

It seems like it can be mentioned in the Announcements portion of the minutes/meeting, but I suppose there's no harm in putting it on the agenda either. I thought it was put on the agenda for *discussion* but it seems to be to *announce* it only. In which case, hey cool.

[2018-03-06 19:37] mhdawson commented on #501
I'm happy to remove from the agenda.  I just wanted to make sure we had some visibility/comments and I think that is occurring.

[2018-03-06 19:39] mhdawson commented on #500
Removed https://github.com/nodejs/TSC/issues/501 from agenda as looks like we'll have agreement without discussion in the meeting.

[2018-03-06 21:04] mhdawson commented on #500
I won't be able to make the meeting as its too early for me (although I think its going to be an hour later after the time change so I might be able to make it in the future).

[2018-03-06 21:05] mhdawson commented on #500
And should have noted @fhinkel will be chairing.

[2018-03-06 22:19] Trott commented on #284
It is done: `members` is now populated entirely from subteams. There are no individual members. 🎉 !!!

[2018-03-06 22:20] Trott commented on #284
@nodejs/members If you received a notification that you are no longer a member of the GitHub nodejs org, please ignore it. It was the result of this administrative change. Sorry for the confusion, and thanks!

(You can tell that you're still a member if you weren't paying any attention to this issue and now are getting this notification because I @-mentioned the @nodejs/members team!)

[2018-03-06 22:20] #284 closed

[2018-03-07 02:05] rvagg commented on #500
I think I'll probably have to skip this one, it's 11pm and I have a sleep debt to make up.

I did want to draw attention to https://github.com/nodejs/node/issues/18998 however. My suspicion is that we have at least one problem that's causing regular crashes (segfaults) on Linux but it's showing up in different tests and on different Linuxes. From my non-scientific observation it appears that it mi

[2018-03-07 02:07] evanlucas commented on #500
I’ll likely miss this week

[2018-03-07 02:34] jasnell commented on #500
I'll be missing. 4am is rather early.

[2018-03-07 02:46] cjihrig commented on #500
I'll miss the 7am meeting time.

[2018-03-07 12:16] addaleax commented on #500
I’ll be joining in a bit, sorry for being late!

[2018-03-08 09:31] fhinkel commented on #411
Closing via https://github.com/nodejs/node/pull/19201, feel free to re-open if needed.

[2018-03-08 09:31] #411 closed

[2018-03-08 13:47] Trott commented on #500
Minutes in https://github.com/nodejs/TSC/pull/502

[2018-03-08 13:47] #500 closed

[2018-03-08 15:44] mcollina commented on #501
As part of this process we should make sure that the real-world usage is captured in citgm. It's important we verify that we are not regressing things.
@mhdawson can you add a couple of those modules?

[2018-03-08 17:47] mhdawson commented on #501
Testing for N-API itself is part of the regular regression runs.

For modules we should be testing both:
1) node-addon-api, which do are testing nightly across plain https://ci.nodejs.org/view/x%20-%20Abi%20stable%20module%20API/job/node-test-node-addon-api/

2) Modules.  We have this job running:

https://ci.nodejs.org/job/node-test-napi-modules-citgm/

(just recently yellow, investigating), but

[2018-03-08 17:53] mcollina commented on #501
Side note, we should put "add at least an ecosystem module that use X feature when it exists experimental to citgm".

[2018-03-09 17:46] mhdawson commented on #501
PR to remove experimental status https://github.com/nodejs/node/pull/19262

[2018-03-12 13:05] mhdawson opened #504 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-03-14"
## Time

**UTC Wed 14-Mar-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 14-Mar-2018 10:00 (10:00 AM) |
| US / Mountain | Wed 14-Mar-2018 11:00 (11:00 AM) |
| US / Central  | Wed 14-Mar-2018 12:00 (12:00 PM) |
| US / Eastern  | Wed 14-Mar-2018 13:00 (01:00 PM) |
| London        | Wed 14-Mar-2018 17:00 (05:00 PM) |

[2018-03-12 13:06] mcollina commented on #504
I'm traveling and I'll likely not be able to join (but I'll do my best).

[2018-03-12 14:51] ChALkeR commented on #490
@mhdawson

I am not entirely sure what those should look _exactly_ like for that repo.
@nodejs/collaborators perhaps someone could help me with a PR with those?

[2018-03-12 14:55] benjamingr commented on #490
Regarding server - I think it would be awesome if our CI did that.

Regarding files:

CODE_OF_CONDUCT.md - this is just an empty file that links to Node's, example:
CONTRIBUTING.md - this one you have to write, although it's best that if you're going to maintain it you specify this as other members are likely unfamiliar
LICENCE.md - this is a copy of Node's license
README.md - you already have tha

[2018-03-12 15:03] ChALkeR commented on #490
@benjamingr Thanks!

I don't see an example in your comment. Note that many Node.js repos (e.g. [nan](https://github.com/nodejs/nan), [node-gyp](https://github.com/nodejs/node-gyp), [http-parser](https://github.com/nodejs/http-parser)) don't have it.

Ok, will think about what can I put there.

I don't think that an _exact_ copy of Node's `LICENCE.md` is fit there — it contains some stuff that is

[2018-03-12 15:09] ChALkeR commented on #490
@benjamingr I added a link to the Node.js Code of Conduct in `CODE_OF_CONDUCT.md`, does that look fine?

[2018-03-12 15:27] benjamingr commented on #490
Yeah looks fine, I think the modules repo has a license and CoC you can copy-paste:

 - [CODE_OF_CONDUCT.md](https://github.com/nodejs/modules/blob/master/CODE_OF_CONDUCT.md)
 - [LICENSE.md](https://github.com/nodejs/modules/blob/master/LICENSE.md)

The README looks good to me, I'd add a link to contributing, the COC and the license there after you've written `CONTRIBUTING.md` - the package.json n

[2018-03-12 15:37] ChALkeR commented on #490
@benjamingr I fixed those two files, LGTY?

[2018-03-12 15:40] benjamingr commented on #490
Yeah, this looks good and ready to me

[2018-03-12 19:22] mhdawson commented on #504
I'm travelling this week.  I had thought I was going to be able to make it but I did the math the wrong way and I'll actually be on the plane.  @Trott can you chair this week?

[2018-03-12 19:30] mhdawson commented on #504
Added meeting info in top level issue info.

[2018-03-12 21:01] Trott commented on #504
Sure, I can do it.

[2018-03-12 22:21] mhdawson commented on #504
@Trott thanks.  Do you have the userid/password to log in as the Foundation users for zoom ?

[2018-03-12 22:23] Trott commented on #504
No, I do not.

[2018-03-12 22:30] mhdawson commented on #490
This is the example the contributing file in another repo: https://github.com/nodejs/node-report/blob/master/CONTRIBUTING.md.  I think the key thing is the DCO.  I think you could just copy that one, update to reflect that module name and that it is under the jurisdiction of the TSC directly and then (optionally) if there is any additional info you want to give people on how to contribute add that

[2018-03-12 22:31] mhdawson commented on #504
If you create a lastpass account and send me the email, I'll share with you.

[2018-03-12 22:32] mhdawson commented on #504
Of note you need to watch and promote other members to panellists and the co-hosts.  To start the streaming to YouTube the option is under the "other" three dots option.

[2018-03-13 01:35] zcbenz opened #505 "Future Node.js versions for V8 6.3/6.4?"
Hi Node.js team,

At Electron team we are going to upgrade Electron to use Chrome 63/64, which uses V8 6.3/6.4, while Node.js does not have a release for those V8 versions yet. This leaves us the question what version should we use for `process.version` in Node.js.

Since the release of Node.js is not going to be aligned with the timeline of V8 stable releases, at Electron we only have the option

[2018-03-13 01:36] ljharb commented on #505
Is waiting on a chrome upgrade for the corresponding node v8 upgrade not an option?

[2018-03-13 01:42] zcbenz commented on #505
@ljharb That would be way too long. Using old Chrome versions leaves Electron apps to security problems, so we want to align Electron releases with Chrome stable releases.

Currently the latest Electron release is on Chrome 62 (V8 6.2), while the latest stable release of Chrome is 64, this has already raised security concerns from users of Electron apps.

[2018-03-13 01:46] ljharb commented on #505
Should perhaps electron have separate explicit chrome and node versions, and hide the generic version var entirely?

[2018-03-13 01:53] zcbenz commented on #505
@ljharb Hiding `process.version` would cause compatibility problems with existing Node.js code, we can't require Node.js module authors to detect the actual runtime the code is running on. Our only choice is to use a fake Node.js version here, and we do not want to break things in future.

[2018-03-13 02:03] ljharb commented on #505
Could it exist but with a non numeric prefix, or something semver can parse but would never be a valid node version, like a prerelease?

[2018-03-13 02:20] zcbenz commented on #505
Having a non-parsable version has the compatibility problem, because modules may throw when parsing it, or end up with corrupted state.

Using a prerelease version still requires us to guess a version number, like `10.0.0-prelease`, and it does not really solve the problem when a future Node.js 10.0.0 release uses a different V8 version.

We had the same problem the time before the io.js, when Nod

[2018-03-13 02:23] ljharb commented on #505
what about v10.0.0-electron.0, and just incrementing the prerelease number until node and chrome are back in alignment?

[2018-03-13 02:37] zcbenz commented on #505
It might be something we can try. But to implement it we have to add new patches to our Node fork, while I'm more hoping to be able to just use the version number in Node's master branch.

And real purpose on aligning version numbers is to have native modules compatibility. Currently if you install a native module targeting Node.js 9.x, you just use it in Electron 2.x (V8 6.2) because we have alig

[2018-03-13 03:01] ljharb commented on #505
If the build team can commit to future v8 and node versions, then you’re fine, but otherwise i feel like you won’t have any options given your criteria besides risking deviating the electron version, or blocking chrome updates on node updates.

[2018-03-13 03:06] Trott commented on #505
/ping @nodejs/release @nodejs/v8-update

[2018-03-13 03:11] zcbenz commented on #505
It would be great if we can know future Node versions, but if not I still have some question to be able to make decisions on our side:

1. Which V8 version will Node.js 10 use?
2. Will there be releases of Node.js using V8 6.3/6.4/6.5 (aka. will you skip V8 updates)?
3. Will Node.js update V8 while keeping ABI compatibility (like Node.js 8.10.0)?
4. What module version number would Node.js choose

[2018-03-13 03:14] Trott commented on #505
@nodejs/release @nodejs/v8-update

[2018-03-13 03:25] ofrobots commented on #505
Most likely Node 10.0.0 will ship with V8 6.6. See https://github.com/nodejs/node/pull/19201.

Unlikely. We are not going to be updating the version of V8 in Node 9.x. Node 10 will ship with 6.6.

Yes, likely. This depends on the active API/ABI departure in subsequent V8 versions.

https://github.com/nodejs/node/pull/19201 picks module version 63. We try to align module versions to afford easier s

[2018-03-13 03:29] ofrobots commented on #505
Err.. I answered the last question differently from what you asked.

We aren't going to have a MODULE_VERSION for 6.3/6.4/6.5 because those are not going to be released as part of a Node release. Node 10.x will use MODULE_VERSION 63 – to match V8 6.6 – for the lifetime of 10.x regardless of if we update V8 during the lifetime of 10.x. We update V8 in a API/ABI compatible way in a semver major line

[2018-03-13 04:42] zcbenz commented on #505
Thanks for answering. Yes V8 6.6 with module version 63 works for Electron.

[2018-03-14 01:47] laosb commented on #301
@Trott My fault for not checking my GitHub-only inbox. Is there any chance that I could rejoin?

[2018-03-14 06:01] Trott commented on #301
@laosb You should have an invitation to nodejs-cn team again. Thanks.

[2018-03-14 12:37] maddhruv commented on #504
Please also add me as an observer

[2018-03-14 13:02] evanlucas commented on #504
I won't be able to make it today. I have an all hands meeting at work this week, so we have plans that interfere. Apologies, but I will be back next week.

[2018-03-14 13:04] jasnell commented on #504
I will not make it today.

[2018-03-14 14:32] fhinkel commented on #504
@maddhruv you can follow the live stream at https://www.youtube.com/c/nodejs+foundation/live.

[2018-03-14 16:46] Trott commented on #504
Out of concern that I wouldn't get it right (https://twitter.com/trott/status/973949303260499969), I got the meeting going early. If anyone wants to join early and I can make sure I can promote them to a panelist or co-host or whichever I'm supposed to do, hop on!

[2018-03-14 16:58] MylesBorins commented on #505
@zcbenz we have been keeping V8 integrated into master, and bumping the modules version number. If you wanted to use one of those versions of V8 you could simply float those patches on top fo the version of node you plan to ship

6.3 --> https://github.com/nodejs/node/pull/16271
6.4 --> https://github.com/nodejs/node/pull/17489
6.5 --> https://github.com/nodejs/node/pull/18453
6.6 --> https://gith

[2018-03-14 17:04] ChALkeR commented on #504
Is the meeting running or is it cancelled? The link just displays an error to me.

[2018-03-14 17:05] Trott commented on #504
@ChALkeR The meeting is running. There's 10 of us in there right now...

[2018-03-14 17:06] targos commented on #504
Perhaps this link works better: https://zoom.us/j/756961980

[2018-03-14 17:07] ChALkeR commented on #504
@targos Yes, thanks, that one seems to work better!

[2018-03-14 17:18] ChALkeR commented on #504
Also, the web join link (that's theoretically reachable from the one @targos mentioned, but is hidden using css styles): https://zoom.us/wc/756961980/join

[2018-03-14 17:37] MylesBorins opened #506 "Bug Bounty Program"
Today I gave the TSC a short presentation engaging with the IBB for an official bug bounty program for for the Node.js project. We had quorum in the meeting and no dissenters. We decided that we would open this issue and give individuals from the TSC who missed the meeting 48 hours to object. If there are no objections in 48 hours I'll close this issue and chime in on https://github.com/nodejs/sec

[2018-03-14 17:50] Trott commented on #504
Thanks @MylesBorins for helping steer the Zoom aspects of the meeting, thanks @Fishrock123 for handling all the Q&A stuff, thanks @mhdawson for hooking me up with the necessary Zoom access, thanks @bnb for giving me lots of reassuring guidance before the meeting on making the Zoom stuff work.

[2018-03-14 17:52] Trott commented on #504
I mis-reported the Moderation Team activity for the week during the meeting. Here's the correct information.

Moderation team update for the week:

Deleted one questionable comment from a user who otherwise has not participated in the nodejs org repositories. See moderation repo issue 181 for details.

@nodejs/moderation @nodejs/community-committee

[2018-03-14 18:12] Trott commented on #504
Minutes in https://github.com/nodejs/TSC/pull/508

Thanks, everyone!

[2018-03-14 18:12] #504 closed

[2018-03-14 18:26] Trott opened #509 "Moving 11:00 time to 13:00"
Meant to do this during the public section of the TSC meeting today but forgot until the private segment. Nonetheless, we had quorum for consensus decision making, so we decided to accept Franzi's proposal to move the 11:00 UTC time to 13:00 UTC.

This makes our current meeting times (which I probably mis-calculated/mis-reported during the private segment) as 13:00 16:00 21:00.

I'll update the ca

[2018-03-14 18:30] Trott commented on #509
Argh! I got all the times wrong. I'm going to close this and try again.

[2018-03-14 18:30] #509 closed

[2018-03-14 18:39] Trott opened #510 "Moving 12:00 UTC time to 14:00 UTC"
Current TSC meeting times are UTC 12:00 17:00 22:00.

@fhinkel has proposed moving to UTC 14:00 17:00 22:00.

TSC meeting (private segment because I forgot during public segment, sorry) consensus was to move forward with that.

I'll update the calendar.

@mhdawson Can you please update your tooling and then close this?

[2018-03-14 18:46] reedloden commented on #506
Seems good to me. 👍

Excited to have Node.js be a part of the IBB!

[2018-03-14 18:49] fhinkel commented on #510
Thank you! This is a short term solution, we should revisit our schedules again and see if we can find better times.

[2018-03-14 19:05] mcollina commented on #506
SGTM
Il giorno mer 14 mar 2018 alle 19:46 Reed Loden <notifications@github.com>
ha scritto:

[2018-03-14 19:16] ChALkeR commented on #510
@Trott @fhinkel This completely excludes one TSC member that was otherwise included and _lowers_ the participation fairness. I suggest to just move to 16:00, 20:00, 22:00 instead.

[code]

[2018-03-14 20:43] Trott commented on #510
@ChALkeR Can we move that new suggestion to a new issue? I'd like to keep this discussion of the agreed-upon current schedule separate from your proposal (which I'm excited about, and thank you for doing all the number-crunching work).

[2018-03-14 20:51] ChALkeR commented on #510
@Trott, yes. I currently can't open a new issue, could you do that, please? Otherwise. I'll do that tomorrow.

For this specific proposal - I am not in favor of it for the reason stated above, but I won't block this.

[2018-03-14 21:17] mhdawson commented on #501
PR landed !

[2018-03-14 21:17] #501 closed

[2018-03-14 21:21] mhdawson commented on #504
@Trott thanks for the heads up on the link.  Next time I'll take a closer look at the link I grab.

[2018-03-15 02:22] zcbenz commented on #505
Thanks for all your help!

Since Node.js won't have releases for V8 6.3/6.4/6.5, we are going to do following in Electron:
1. Stay at Node 9.x for Chrome 63/64/65.
2. Add patch to bump `NODE_MODULE_VERSION` in our Node fork.
3. Apply Node's V8 patches on the V8 in Chromium repo  (we are using V8 from Chrome instead of the one in Node repo).

[2018-03-15 02:22] #505 closed

[2018-03-15 07:41] fhinkel commented on #510
Thanks for finding a better time! I like your proposal much better.

[2018-03-15 22:32] mhdawson commented on #510
Not sure who updated, but the schedule is already updated to show 12 UTC for the next "early" meeting.

I'll assume the additional changes suggested by @ChALkeR will be handled in a different issue.

[2018-03-15 22:37] #510 closed

[2018-03-15 23:04] mhdawson commented on #510
Sorry yes.

[2018-03-19 13:05] mhdawson opened #511 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-03-21"
## Time

**UTC Wed 21-Mar-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 21-Mar-2018 15:00 (03:00 PM) |
| US / Mountain | Wed 21-Mar-2018 16:00 (04:00 PM) |
| US / Central  | Wed 21-Mar-2018 17:00 (05:00 PM) |
| US / Eastern  | Wed 21-Mar-2018 18:00 (06:00 PM) |
| London        | Wed 21-Mar-2018 22:00 (10:00 PM) |

[2018-03-19 13:12] ChALkeR commented on #511
I also would like to discuss moving the meeting times. That shouldn't take long.

Currently, [Lliira](https://github.com/ChALkeR/Lliira) hints that should be one of `16, 22`, `16, 21, 22`, or `16, 21, 21`, but things might change once/if everyone who had not done so yet update their rows in the spreadsheet :wink:.

[2018-03-19 17:19] trivikr commented on #511
@mhdawson
* My collaborator nomination was discussed in previous TSC meeting on 2018-03-14 (#504)
* I have onboarding session with @mcollina tomorrow (2018-03-20) to start the CI and land my first PR  nodejs/node/pull/19384

My nomination can be removed from this meeting's agenda.

[2018-03-19 19:49] bnb commented on #506
@MylesBorins it looks like there's no objections 💥

[2018-03-19 20:17] benjamingr commented on #511
@trivikr welcome, glad to have you :)

[2018-03-19 21:01] mhdawson commented on #511
@trivikr thanks, removed from agenda.

[2018-03-19 21:09] mhdawson commented on #511
Added link for TSC meeting above.

[2018-03-19 21:10] jasnell commented on #511
Can we get an update from @MylesBorins on the most recent Node.js Foundation Board meeting.

[2018-03-19 21:57] mhdawson commented on #506
Chimed in on nodejs/security-wg#49 that there were no issues and we can move forward, closing.

[2018-03-19 21:57] #506 closed

[2018-03-20 00:37] MylesBorins commented on #511
I'm in London and may not be able to attend on Wednesday. I've emailed an update to the mailing list about the board meeting from two weeks ago.

We have another board meeting coming up on Monday the 26th, will open an issue to see if we need to bring anything to the board

[2018-03-20 00:38] MylesBorins opened #512 "Board meeting March 26th"
Hey All,

Anything we need to bring to the board or update them about?

[2018-03-20 01:44] mrhinkle commented on #195
The Board Foundation Subcommittee met last month and the board discussed this issue in our last meeting. Here's the summary of the discussion. The net of the conversation is that the copyright notice is not critical but the best practices were boiled down to the following:

- Do not strip or alter existing copyright notices.
- Other projects have utilized “[Foundation Name or Project Name] and its

[2018-03-21 21:55] evanlucas commented on #511
Heads up, I'm getting a "meeting has expired" error when trying to join

[2018-03-21 21:55] mcollina commented on #511
same here

[2018-03-21 21:56] mhdawson commented on #511
Looking at it now

[2018-03-21 21:59] ChALkeR commented on #511
What's the actual meeting link?

[2018-03-21 21:59] mhdawson commented on #511
New meeting link https://zoom.us/j/902562586

[2018-03-21 22:00] cjihrig commented on #511
Is the password the same?

[2018-03-21 22:01] Trott commented on #511
Neither of the previous passwords are working for me.

[2018-03-21 22:01] mhdawson commented on #511
yes

[2018-03-21 22:01] ChALkeR commented on #511
The password doesn't work for me.

[2018-03-21 22:01] mhdawson commented on #511
let me double check I had tried to set to the same one

[2018-03-21 22:02] mhdawson commented on #511
Password should be fixed now

[2018-03-21 22:02] mhdawson commented on #511
had a space at the front from cut/paste

[2018-03-21 22:03] ChALkeR commented on #511
Password works now.
Web link: https://zoom.us/wc/902562586/join

[2018-03-21 22:59] Trott commented on #511
Moderation Team update: No significant activity this week. Which is a good thing.

@nodejs/moderation @nodejs/community-committee @nodejs/tsc

[2018-03-22 13:29] MylesBorins commented on #512
Quick ping. Will close this EOD tomorrow

[2018-03-23 09:38] ChALkeR commented on #486
:+1: @mhdawson What should the next steps be?

[2018-03-23 17:38] mhdawson commented on #486
We just need to write the charter with the scope etc. Its on my list I've just been travelling but have not quite gotten to it.

[2018-03-23 17:55] Trott commented on #486
I could be wrong, but it seems like a draft charter could probably be written in less than 30 minutes if someone else on the WG wants to take it off your hands.

[2018-03-26 13:05] mhdawson opened #513 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-03-28"
## Time

**UTC Wed 28-Mar-2018 15:00 (03:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 28-Mar-2018 08:00 (08:00 AM) |
| US / Mountain | Wed 28-Mar-2018 09:00 (09:00 AM) |
| US / Central  | Wed 28-Mar-2018 10:00 (10:00 AM) |
| US / Eastern  | Wed 28-Mar-2018 11:00 (11:00 AM) |
| London        | Wed 28-Mar-2018 16:00 (04:00 PM) |

[2018-03-26 14:03] mcollina commented on #513
I won’t be able to attend as I am traveling.

[2018-03-26 19:27] Trott commented on #513
I can't attend, but the buffer issue seems worth talking about. Specifically, we need to craft a concise statement about why we're doing this. I took on that action item but haven't done it yet. If someone else can take a try at making a draft statement, you'd be doing me a favor.

[2018-03-26 22:17] rvagg commented on #513
won't be attending but I'm trying hard to find my way clear to finish up the OpenSSL PR, it's been in limbo but we need to get it locked down for Node 10. Shigeki has been working on 1.1.0 and 1.1.1 integration and TLS 1.3 got finalised this week so we're on track .. I think.

[2018-03-27 20:12] TimothyGu commented on #513
Looking forward to joining my first TSC meeting!

[2018-03-27 20:19] TimothyGu commented on #485
After the end of my last term last week, I should be able to make it to at least one time slot out of three (5pm, and possibly 2pm UTC) from the next week on.

[2018-03-27 20:42] MylesBorins commented on #513
I plan to attend but I might be up very late prepping the security release.

[2018-03-28 13:47] thefourtheye commented on #513
Unfortunately, I might miss this meeting. Sorry.

[2018-03-28 13:54] Trott commented on #513
Moderation Team report for this week:

* There were some requests for self-moderation, some edited comments, and some deleted comments in a GitHub issue. Moderation repo issue 186.
* Received two empty messages to the CoC reporting email address. Ignored them because they were empty. But just FYI.

@nodejs/community-committee @nodejs/tsc @nodejs/moderation

[2018-03-28 14:38] evanlucas commented on #513
I have a conflicting engagement and won't be able to make it today. Apologies

[2018-03-28 14:53] ofrobots commented on #513
I won't be able to join as this time-slot conflicts with some toddler duties for me.

[2018-03-28 14:59] Fishrock123 commented on #513
Meeting link is invalid?

[2018-03-28 15:02] TimothyGu commented on #513
@Fishrock123 There is a new email that went out with the correct link.

[2018-03-28 15:03] fhinkel commented on #513
Sorry, scheduled the wrong thing, I've sent an update in the password email

On Wed, Mar 28, 2018 at 4:59 PM Jeremiah Senkpiel <notifications@github.com>
wrote:

[2018-03-28 15:09] addaleax commented on #513
I’m sorry I won’t be able to join, but re: the buffer constructor deprecation, it would be great to get some more TSC eyes looking @ https://github.com/nodejs/node/pull/19524

[2018-03-28 15:10] ChALkeR commented on #513
Client join link: https://zoom.us/j/751854357
Web link: https://zoom.us/wc/join/751854357

[2018-03-28 15:13] #512 closed

[2018-03-29 13:02] #513 closed

[2018-03-30 18:00] Trott commented on #511
PR for minutes: https://github.com/nodejs/TSC/pull/515/files

[2018-03-30 18:00] #511 closed

[2018-03-30 18:01] Trott commented on #423
This isn't really a tracking issue. This is a permanently-opened issue to keep this in the agenda. Can we simply update the template for the meeting to include strategic initiative updates as a thing we always do (just like Announcements, Q&A, Upcoming Meetings, etc.)? Then we can close this issue.

[2018-04-02 13:05] mhdawson opened #516 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-04-04"
## Time

**UTC Wed 04-Apr-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 04-Apr-2018 10:00 (10:00 AM) |
| US / Mountain | Wed 04-Apr-2018 11:00 (11:00 AM) |
| US / Central  | Wed 04-Apr-2018 12:00 (12:00 PM) |
| US / Eastern  | Wed 04-Apr-2018 13:00 (01:00 PM) |
| London        | Wed 04-Apr-2018 18:00 (06:00 PM) |

[2018-04-02 16:50] addaleax commented on #516
Once again, it would be cool if I could remind people that https://github.com/nodejs/node/pull/19524 could really use some TSC review, otherwise it might just not happen (not an outcome I would mind, but this general approach is what we decided on, I think…)

[2018-04-02 16:51] bmeck commented on #516
I'd like to add a small agenda item to discuss if we can unblock [Zones](https://github.com/domenic/zones) which was blocked a long while ago due to signals from Node before we had as good documentation on process / decisions. Just want to give a small 10minute presentation and see if blocking it based upon having Error handling is still true since Promises are becoming more used and have similar

[2018-04-02 19:34] benjamingr commented on #516
@bmeck the fact zones is blocked is well documented and due to the same reason domains are deprecated. This decision has been revisited twice already like here: https://github.com/nodejs/TSC/issues/340 - what chanced since last time?

[2018-04-02 22:10] mhdawson commented on #423
Its more complicated than that since there is only a template for for the minutes, not for the issue.  Its on the todo list to add a template for the issue as well but its not there right now.

If we change the underlying module used to generate the issue, then we'll get it for other meetings which we don't want, so we should wait until there is a template to generate the issue.

[2018-04-02 22:53] Trott commented on #423
Isn't the underlying module `make-node-meeting`? If so, then you can edit `examples/tsc.sh` and/or `$HOME/.make-node-meeting/tsc.sh` and it will only affect the TSC meeting.

[2018-04-03 13:13] gibfahn commented on #516
I don't know the history, but given the last comment in that thread, revisiting seems reasonable:

https://github.com/nodejs/TSC/issues/340#issuecomment-366400907

[2018-04-03 13:19] mcollina commented on #516
I think a short presentation would be nice. It’s important to note that the diagnostics wg is looking at modeling the async context as well, and I see providing a context local storage implementation a need for the platform.

The concerns about error handling and performance remains.

[2018-04-03 16:14] trivikr commented on #516
The nomination of @mafintosh was announced during the meeting on 2018-03-28 (#513) and he will be onboarded by @jasnell as per update in nodejs/node/issues/19148
This can be removed from agenda.

[2018-04-03 16:59] Trott commented on #516
You are no doubt correct that it does not need to be on the agenda. However, for very good reasons, no one is permitted to remove an agenda item except the person who added it in the first place. So @mcollina has to remove it. Otherwise, we'll have to spend 7 seconds on it during the meeting. (Might not be the worst use of time to celebrate an onboarding.)

[2018-04-03 17:02] mcollina commented on #516
@Trott done!

[2018-04-03 17:24] Trott commented on #516
Adding https://github.com/nodejs/node/pull/19524. I anticipate a call for a vote and a need to act quickly, so *please* review that PR if you have not done so already.

[2018-04-03 17:45] trivikr commented on #516
@Trott That's why I listed it as an observation and didn't tag anyone for action item.
Thanks for tagging @mcollina

[2018-04-03 19:03] anio commented on #301
I have enabled 2FA. Can anyone send me an invitation?

[2018-04-04 12:54] Trott commented on #516
Adding https://github.com/nodejs/node/pull/18138 to the agenda. It needs a second TSC reviewer besides @jasnell. Adding it to the agenda solely to identify someone who can review it soon-ish. If a TSC member reviews it between now and the meeting, it can be removed from the agenda.

[2018-04-04 12:59] mcollina commented on #516
Adding https://github.com/nodejs/node/pull/18994 for the same reason.

[2018-04-04 16:59] fhinkel commented on #516
Sorry, can't make it today. Last minute scheduling conflict

[2018-04-04 17:03] mhdawson commented on #516
@bmeck at this point maybe next week makes the most sense.  What do you think?

[2018-04-04 17:05] Trott commented on #516
Moderation Team update: No actions taken this week. @nodejs/tsc @nodejs/community-committee @nodejs/moderation

[2018-04-04 17:29] anio commented on #301
@Trott Thank you!

[2018-04-04 18:36] #516 closed

[2018-04-06 14:12] jasnell commented on #340
@nodejs/tsc ... @mcollina and I have been discussing the issues around Zones and some of the requirements around continuation local storage in general. We've been kicking around a few ideas that I've captured here: https://docs.google.com/presentation/d/1N8w-Ees6sy5qcqh8y5Fc271pcicbI4AB1D8eCIl_1aQ/edit?usp=sharing

I'd like to get some discussion going among ourselves to see if this is an approach

[2018-04-09 13:05] mhdawson opened #518 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-04-11"
## Time

**UTC Wed 11-Apr-2018 22:00 (10:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 11-Apr-2018 15:00 (03:00 PM) |
| US / Mountain | Wed 11-Apr-2018 16:00 (04:00 PM) |
| US / Central  | Wed 11-Apr-2018 17:00 (05:00 PM) |
| US / Eastern  | Wed 11-Apr-2018 18:00 (06:00 PM) |
| London        | Wed 11-Apr-2018 23:00 (11:00 PM) |

[2018-04-11 14:24] mcollina commented on #518
The meeting is too late for me and I won't be able to join.

[2018-04-11 14:27] targos commented on #518
Same for me. My apologies.

[2018-04-11 15:09] MylesBorins commented on #518
Unfortunately I have dinner reservations during the meeting today, I will have to miss.

Nothing to add re: buffer stuff. No updates with board. Will post any updates re: modules after today's meeting

[2018-04-11 15:40] TimothyGu commented on #518
I'll have to miss as well due to conflicts with a class.

[2018-04-11 16:26] Trott commented on #518
Moderation Team update: A URL was redacted from an issue title The URL is suspected of being used to distribute malware. Nothing else to report this week.

@nodejs/tsc @nodejs/community-committee @nodejs/moderation

[2018-04-11 17:07] ryzokuken commented on #292
Umm, have we considered self-hosting an instance of thelounge (https://thelounge.chat/) instead?

It's simple, open-source, self-hosted (+1 as I'm paranoid), and guess what – built on Node. We could spin one up really cheap and make accounts for all the members of the nodejs org. (Perhaps host it somewhere like lounge.nodejs.org to irc.nodejs.org would be really cool).

I've been using it recently

[2018-04-11 17:25] ljharb commented on #292
Deviating from more established UIs and experiences (IRC, Slack, and even Discord, despite my dislike of it) has a high cost - self-hosting imo doesn't provide value (node itself is hosted on github), but ease-of-adoption does.

[2018-04-11 17:35] ryzokuken commented on #292
Talking of ease-of-adoption, we're already on spectrum.chat (https://spectrum.chat/node). Why aren't we promoting it more?

[2018-04-11 17:41] ryzokuken commented on #292
@ljharb Umm, wait a minute. I think you misunderstood me. Using thelounge isn't deviating from IRC.
 It's just an open-source persistent web IRC client. Think of it as a self-hosted IRC cloud.

[2018-04-11 17:41] ljharb commented on #292
Ah, thanks for clarifying, i did indeed misunderstand you.

[2018-04-11 17:43] ryzokuken commented on #292
That's why it's cheaper to self-host thelounge than buy a ton of IRC Cloud subscriptions. I mean, a DO droplet costs $5 a month. That's the cost of a single subscription.

[2018-04-11 17:46] MylesBorins commented on #292
@ryzokuken the main concern I would have with the foundation hosting any sort of persistent server would be ensuring that we could properly encrypt data and protect logs. Considering that many of use have other things we have privileged conversations on IRC, about node and other topics, there is a serious risk of creating a centralized place that could be attacked

[2018-04-11 17:50] ryzokuken commented on #292
@MylesBorins agreed that'd definitely be a concern. Correct me if I'm wrong, but don't major server providers (AWS, DO, Azure) provide decent security measures?

[2018-04-11 17:53] cjihrig commented on #518
I'll most likely miss today's meeting.

[2018-04-11 17:57] addaleax commented on #518
Same, I’m not feeling so well today and might go to bed pretty early.

[2018-04-11 18:52] devsnek commented on #292
as long as we're talking about other platforms, discord has been pushing to open source projects (https://discordapp.com/open-source) and personally i like using discord. additionally big names like yarn, react, vue, and jest all use it.

[2018-04-11 19:10] ryzokuken commented on #292
@devsnek +1 for discord. Apart from the fact that it isn't open-source itself, I haven't heard a lot of "real" criticism agains't the use of discord.

I've seen it used in insanely large communities (think: top 10 subreddits) where people would just not stop talking (#node.js and #node-dev are relatively quiet) and it still works beautifully.
Plus the ability to add multiple roles to a user etc ma

[2018-04-11 22:35] mhdawson commented on #518
PR for minutes: https://github.com/nodejs/TSC/pull/519

[2018-04-11 22:35] #518 closed

[2018-04-13 01:50] feross commented on #301
@Trott I also lost access to the org somehow. I'm not actively using it, but I did quite enjoy the badge on my profile.

[2018-04-13 05:39] Trott commented on #301
@feross I don't want to be a killjoy, but I wouldn't want someone else to add people for that reason, so I'm not going to do it myself. If there's a team or working group that you are active on or would like to be more involved with, let's get you set up that way. I can suggest some ideas if you want to hit me up in email / IRC / Twitter.

[2018-04-13 06:09] feross commented on #301
@Trott Makes sense.

[2018-04-13 22:05] No9 commented on #301
@Trott Can you add me back into solaris and freebsd please

[2018-04-13 23:50] Trott commented on #301
@No9 You should now have invitations for both.

[2018-04-14 19:14] Stichoza commented on #301
Sorry guys. @Trott, can you please add me back to [nodejs-ka](https://github.com/nodejs/nodejs-ka)?
2FA configured.

[2018-04-14 22:08] Trott commented on #301
@Stichoza OK, you now have an invitation for nodejs-ka.

[2018-04-14 22:16] Trott commented on #301
(As an aside: I'd recommend avoiding the word "guys". It's everywhere and lots of people use it without thinking about it. But it can be perceived as excluding people. There are certainly people who *don't* perceive it that way, but since some people *do*, consider using "folks" or "people" or "everyone" or "friends" or nothing at all.)

[2018-04-16 13:05] mhdawson opened #520 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-04-18"
## Time

**UTC Wed 18-Apr-2018 14:00 (02:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 18-Apr-2018 07:00 (07:00 AM) |
| US / Mountain | Wed 18-Apr-2018 08:00 (08:00 AM) |
| US / Central  | Wed 18-Apr-2018 09:00 (09:00 AM) |
| US / Eastern  | Wed 18-Apr-2018 10:00 (10:00 AM) |
| London        | Wed 18-Apr-2018 15:00 (03:00 PM) |

[2018-04-16 13:35] mhdawson opened #521 "TSC Elections Chair and Director - Call for nominations."
May is the month for TSC Elections.  The proposed schedule is:

April 16 - Call for nominations
April 30 - Close nominations
May 1 - Open balloting
May 15 - Announce Results
May 16-29- Handover
May 30 (or earlier if handover complete) Transition complete

This issue is to open the call for nominations.

Depending on the number of nominations we'll figure out if we need to have people write up some

[2018-04-16 13:36] mhdawson commented on #521
@nodejs/tsc

[2018-04-16 17:57] Trott commented on #521
Probably best for the incumbents to indicate soon if they are running for re-election or not. Whether or not there is an incumbent running will likely affect other people's decisions on whether to self-nominate or not.

[2018-04-16 18:31] Trott commented on #520
I am unlikely to be able to make this time, so if someone else could volunteer to frame these two issues, that would be great:

* tracking Issue for Runtime Deprecation of Buffer constructor https://github.com/nodejs/node/issues/19079
* Add Node Slack Community to scope #49 https://github.com/nodejs/admin/pull/49

Also, if @TimothyGu is going to make this meeting, I would propose adding an item to

[2018-04-16 19:09] jasnell commented on #520
I would appreciate if I could get some TSC review on https://github.com/nodejs/node/pull/19803. It is a semver-major because it adds a new top-level module to interface with the still experimental trace events mechanism. I'd like to get it landed in time for 10.0.0. It has sufficient sign off to land at this point but I'd like to make sure there are no objections to landing it since it introduces

[2018-04-16 19:57] MylesBorins commented on #521
I self-nominate to run for Director again.

Jumping between meetings today so I don't have a ton of time to write an extended post at the moment, but will follow up soon with more reasoning as to why I should be considered.

[2018-04-16 20:51] mhdawson commented on #521
I self-nominate to run for Chair again.  Also fighting fires today so will add more later on.

[2018-04-17 15:38] TimothyGu commented on #520
I will indeed be at the meeting tomorrow!

[2018-04-17 15:41] addaleax commented on #520
I likely won’t be able to make it tomorrow, or if I do, I will be late. (I know I’ve missed quite a few meetings in a row – should get better over the next weeks, though.)

I’m +1 on adding @TimothyGu, if that comes up :)

[2018-04-17 16:08] Trott commented on #520
I'm +1 on adding @TimothyGu as well.

[2018-04-17 16:16] Trott commented on #521
Can we get agreement at this point if the election will be a secret ballot or not? I have conflicting feelings either way, but I think it would be good to get that decision made now while there's time to discuss it rather than rushing to make it at the last minute. (Disclaimer: I haven't looked at our governance docs to see if they indicate whether it must or must not be a secret ballot.)

[2018-04-17 16:27] Trott commented on #521
I self-nominate for Chair. I think Michael has done a commendable job as Chair, so this isn't a protest or anything. I do think it's healthy to have an election with more than one candidate and I hope at least one more person will run for Director for that reason. There is also a benefit to not having the same person in a position for too many consecutive years.

I believe my time facilitating CTC

[2018-04-17 16:44] richardlau commented on #521
I don't know if it's specified elsewhere but it's not specified in the charter:
https://github.com/nodejs/TSC/blob/master/TSC-Charter.md#section-7-elections

(I only read this recently since when this issue was first opened yesterday it was unclear what these elections were for or who could vote in them. For the benefit for anyone else, these elections are for the TSC chair and TSC director, voted

[2018-04-17 16:45] jasnell commented on #521
+1 to secret ballot

[2018-04-17 19:05] mhdawson commented on #521
I believe it was secret last time, +1 to secret from me as well.

[2018-04-17 19:36] cjihrig commented on #521
+1 to a secret ballot.

[2018-04-17 19:44] mhdawson commented on #520
As a note, I'll be at the meeting but @fhinkel is going to chair.

[2018-04-17 20:43] mhdawson commented on #520
I can cover "Add Node Slack Community to scope #49 nodejs/admin#49" unless somebody else wants to take it.

[2018-04-17 20:45] MylesBorins commented on #521
+1 to secret ballot

[2018-04-17 23:56] MylesBorins commented on #521
@mhdawson do you think we should keep the original post updated with current status / nominees?

Text you can copy / paste

**Chair Nominees:**

@mhdawson - Michael Dawson
@jasnell - James M Snell

**Director Nominees:**

@MylesBorins - Myles Borins

[2018-04-18 00:10] cjihrig commented on #521
@MylesBorins I think the chair nominations are Michael and Rich, right? Not James.

[2018-04-18 00:12] jasnell commented on #521
@cjihrig

That is correct. I am *not* running for either position.

[2018-04-18 00:58] MylesBorins commented on #521
my apologies, I've updated my comment. This is what I get for trying to get one more thing in before the end of the day. Sorry for putting you in that position @jasnell

[2018-04-18 14:46] jasnell commented on #520
Had a conflicting meeting this morning and could not make it.

[2018-04-18 15:34] targos opened #524 "List of things to do for new TSC members"
I couldn't find a document listing things that we have to do when we welcome a new TSC member (and undo when a someone steps down). Should we have one in this repo?

Things that I can think of:
- Add them to the `@nodejs/tsc` and `@nodejs/security-tsc` teams
- Make them an owner of the `nodejs` org
- Invite them to the `nodejs-private` org (as an owner)
- Add them to the `@nodejs-private/security-

[2018-04-18 15:36] richardlau commented on #524
Update https://github.com/nodejs/node/blob/master/README.md#current-project-team-members.

[2018-04-18 15:44] Trott commented on #520
Moderation Team Report: One spam-ish bot-looking user was blocked. See moderation repo issue 193 for details. @nodejs/tsc @nodejs/community-committee @nodejs/moderation

[2018-04-18 21:15] #485 closed

[2018-04-19 21:54] mhdawson commented on #521
@MylesBorins done.

[2018-04-19 22:58] Trott opened #525 "Wiki Management"
The wiki has been locked so only Collaborators can edit it.

There seems to be significant support for taking each document there and doing one of the following depending on what's most appropriate for that particular document:

* add its contents to the website
* add its contents to the docs directory in the repo
* delete it

We don't have any concrete rules around wiki governance so I wanted to

[2018-04-19 22:59] Trott commented on #525
@nodejs/moderation

[2018-04-20 02:46] joyeecheung commented on #525
We can move the documents related to core maintance into the doc directory and the rest into the website.

[2018-04-20 02:47] joyeecheung commented on #525
Or if they are not up to date anymore, just archive them in a repo?

[2018-04-20 04:08] jasnell commented on #525
I'm good with preserving the content in an archived repo and deleting the wiki

[2018-04-20 08:43] joyeecheung commented on #525
BTW the wiki can be cloned with https://github.com/nodejs/node.wiki.git

[2018-04-20 08:56] vsemozhetbyt commented on #525
@joyeecheung Only not on Windows due to [How to migrate from ev_io_* to uv_poll_* for IO polling](https://github.com/nodejs/node/wiki/How-to-migrate-from-ev_io_*-to-uv_poll_*-for-IO-polling):
[code]
It seems we need to rename it first without `*` forbidden in Windows fs.

[2018-04-20 23:45] mhdawson commented on #521
Short outline for my reasons for running for Chair:

I'm running as chair again this year for a number of reasons:

* I believe I've done a good job keeping the meetings running, making sure we have minutes
  and getting them landed during my first year (Many thanks to those who have helped chair
  a number of the meetings). Along with that I've also helped to make the
  process more efficient thr

[2018-04-21 07:24] mcollina opened #528 "Coordination on npm releases"
As https://github.com/nodejs/node/pull/20190 comes in I was totally surprised that we did not discuss at all which version of npm we were going to ship in Node 10. We can do better.

I think we should do either a quarterly update, or just a sync 2-3 months before any major release.
I'm happy to take this responsibility if there are no other volunteers in the @nodejs/tsc or @nodejs/release. (I have

[2018-04-21 13:26] jasnell commented on #528
As with everything, it requires an owner. We only have so much visibility and coordnation into what v8 release we're going to ship because of the diligent work by @targos, @fhinkel and the whole @nodejs/v8 team to actively integrate, test, and discuss on an ongoing basis. I the prep for 10.0.0 I never needed to coordinate what v8 was going to land because of the diligence of that team in keeping t

[2018-04-23 12:05] mhdawson opened #529 "Node.js Foundation Technical Steering Committee (TSC) Meeting 2018-04-25"
## Time

**UTC Wed 25-Apr-2018 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Wed 25-Apr-2018 10:00 (10:00 AM) |
| US / Mountain | Wed 25-Apr-2018 11:00 (11:00 AM) |
| US / Central  | Wed 25-Apr-2018 12:00 (12:00 PM) |
| US / Eastern  | Wed 25-Apr-2018 13:00 (01:00 PM) |
| London        | Wed 25-Apr-2018 18:00 (06:00 PM) |

[2018-04-23 19:30] richardlau commented on #525
Or maybe just `Migrating IO polling from libev to libuv`?

[2018-04-23 19:36] vsemozhetbyt commented on #525
Done)

[2018-04-23 20:27] bnb commented on #525
Added CC agenda, as this is likely something the CommComm would be interested in discussing.

[2018-04-23 21:09] mcollina commented on #529
I’m on vacation and I won’t be able to attend.

[2018-04-23 23:10] fhinkel commented on #528
@mcollina does this need to be tagged with tsc-agenda? Seems to me like there's consensus within @nodejs/release.

[2018-04-23 23:13] fhinkel commented on #525
@Trott Can we ping @nodejs/tsc and if there are no objections take it off the tsc agenda?

[2018-04-23 23:15] fhinkel commented on #524
In which document should this go? With that info, this would make a good first issue for a new contributor (though it's tsc and not node).

[2018-04-23 23:18] fhinkel commented on #492
Ping @nodejs/tsc and @nodejs/community-committee. Please vote whether you're in favor of moving the meeting tooling to the foundation, see https://github.com/nodejs/TSC/issues/492#issuecomment-366113635.
Please use thumbs up/down on the first post.

[2018-04-23 23:26] fhinkel commented on #292
@bnb Was this discussed at the last meeting? Do we need board approval if we need money for this?

[2018-04-23 23:29] fhinkel commented on #268
As nobody has objected leaving them open, I'm closing this. Feel free to reopen if needed.
@othiym23 and @aredridel thanks for taking care of the list!

[2018-04-23 23:29] #268 closed

[2018-04-23 23:30] fhinkel commented on #195
@mrhinkle thanks for clarifying.

Closing this, feel free to reopen if needed.

[2018-04-23 23:30] #195 closed

[2018-04-23 23:32] fhinkel commented on #257
Another, please vote whether this tooling can move to the foundation. Ping @nodejs/tsc and @nodejs/community-committee. Please vote whether you're in favor of moving node-heapdump to the foundation, see https://github.com/nodejs/TSC/issues/492#issuecomment-366113635.
Please use thumbs up/down on the first post.

[2018-04-23 23:33] fhinkel commented on #340
@jasnell was this discussed at the last TC39 meeting?

[2018-04-23 23:33] fhinkel commented on #365
Closing. Feel free to reopen if needed.

[2018-04-23 23:33] #365 closed

[2018-04-23 23:35] fhinkel commented on #467
🤔 This has the tsc-review label since January, but I've not seen it on the TSC agenda. Are we not discussing tsc-review items or is there a problem with the auto-generation of the agenda?

[2018-04-23 23:44] #520 closed

[2018-04-23 23:53] MylesBorins commented on #493
Closing for now, we can revisit this another time

[2018-04-23 23:53] #493 closed

[2018-04-23 23:54] MylesBorins commented on #529
@Trott we have a board meeting next Monday, so it would be nice to leave it on the agenda in case anyone has anything they want me to bring to the board

[2018-04-24 00:24] ljharb commented on #340
@fhinkel it was not discussed in March; the next TC39 meeting after that comment was posted will be at the end of May.

[2018-04-24 01:24] fhinkel commented on #340
@ljharb Thanks!

@jasnell, does this need to be discussed by the TSC or would @nodejs/diagnostics be a better place to handle this?

[2018-04-24 01:33] jasnell commented on #340
Yes. Both :)

[2018-04-24 06:52] mcollina commented on #528
tsc-agenda can be removed.

[2018-04-24 09:37] kanujkumar opened #530 "Creating a JS object for already created C++ object using Node API"
With the function definition set through `napi_define_class(...., new_instance_callback, &localFn)`, `napi_new_instance(...,localFn,....)` internally uses `v8::Function->newInstance()` to create the instance of the function, which will invoke the callback function `new_instance_callback`. I have defined `new_instance_callback` function to always create a new C++ object (i.e. `new AnotherObject()`)

[2018-04-24 09:44] #530 closed

[2018-04-24 11:33] kanujkumar commented on #530
closing this. moved to correct place. https://github.com/nodejs/node-addon-api/issues/247

[2018-04-24 15:19] mike-kaufman commented on #340
If someone could tag this with `diag-agenda`, we'll bring it up at next diag WG meeting.  Here's my .02, plz let me know if you disagree 😄  :

There are two fundamental problems w/ "async" in javascript:

  - Problem 1:  Shared semantics & terminology.  My read on why the Zones proposal bogged down, is there's no way to talk about & reason about asynchronous execution in JavaScript.  There's lots

[2018-04-24 18:25] Trott commented on #467
`tsc-review` is (was?) for stuff that is *not* on the agenda but requires attention.

When it was `ctc-review`, I'd put them in the agenda issues every week so people would see them. I can start doing that again, perhaps.

This can probably be closed because Electron and other embedders should be included in https://github.com/orgs/nodejs/teams/delivery-channels. I'll close but feel free to re-ope